<div class="swiper-slide">
    <div class="tt-model-item">
        <div class="image-box">
            <div class="banner-behind">
                <img src="" data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/carousel/bitmap.png" data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/carousel/bitmap-mobile@2x.png" alt="image" >
                <!--<img src="" data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/carousel/bitmap.png" data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/carousel/bitmap-mobile@2x.png" alt="image" >-->
            </div>
            <div class="banner-upper">
                <img src="../needreplace/media/Project/ToyotaTheme/Common/images/carousel/latest-models-image.png" data-rjs="../needreplace/media/Project/ToyotaTheme/Common/images/@2x/latest-models-image@2x.png"
                     alt="image">
            </div>
        </div>
        <div class="content-box">
            <div class="pull-left">
                <h3 class="dashed">THE 2018 YARIS IA</h3>
                <div class="pricing">
                    <span class="label">
                        {{#is language "en"}}
                            Starting
                        {{else}}
                            إبتداء من
                        {{/is}}

                    </span>
                    <div class="price-tag notranslate"><h4>85,900 SR</h4></div>
                </div>
            </div>
            <div class="pull-right">
                <div class="component link-list tt-links-box">
                    <ul>

                        {{#is language "en"}}
                            <li><a href="#">Overview</a></li>
                            <li>
                                <a href="#" class="active">Get a quote</a>
                            </li>
                        {{else}}
                            <li><a href="#">نظرة عامة</a></li>
                            <li><a href="#" class="active">طلب قيادة تجريبية</a></li>
                        {{/is}}






                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>