<div class="controls-footer-box">

  <div class="error-details">
    <div class="form-group alert-message">
      You have <span class="num"></span> incomplete questions
      <img src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/info-icon-reverse.svg" alt="error-icon">
    </div>
  </div>

  <div class="form-group">
    <h4 data-invalid="Review the incomplete fields">submit your request</h4>

    <div class="d-flex">
      <div class="text-field-controls">
        <button type="submit" class="btn btn-primary btn-submit" data-invalid="Review">Submit</button>
        <span class="btn-side-info">
                  Press Enter
                </span>
      </div>
    </div>

  </div>
</div>

<div class="controls-box-spacer">
</div>