<div class="spec-highlights inverse">

    <div class="container">

        <div class="img-placeholder">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/hub/content-hub-image1.jpg"
                 alt="spec-image">
        </div>

        <div class="spec-details ">
            <div class="tt-aligner">
                <div class="tt-aligner-item">

                    <h3 class="dashed">Interior</h3>
                    <p>
                        Avalon's standard leather-trimmed seats, soft-touch materials and French stitching add up to an
                        environment
                        that feels as if it was made just for you. Subtle design touches make sure that the interior of
                        Avalon
                        stands out.
                    </p>
                    <div class="btn-content">
                        <a class="btn btn-link" href="vehicle-offer-details.html">Learn more</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>