<div class="spec-highlights inverse tt-content-specs mb-0">


    <div class="container nested-container">

        <div class="img-placeholder">
            <div class="tags-box">
                <span class="tag">Campaigns</span>
            </div>
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/hub/content-hub-image1.jpg"
                 alt="spec-image">
        </div>

        <div class="spec-details ">
            <div class="tt-aligner">
                <div class="tt-aligner-item">
                    <div class="dashed">
                        <div class="date text-small">
                            September 6, 2017
                        </div>
                    </div>
                    <h3>Toyota at the 2018 Geneva Motor Show</h3>
                    <p>After 20 years of hybrid leadership, we are committed to make Toyota hybrid ever more attractive
                        to our customers.</p>
                    <div class="btn-content">
                        <a class="btn btn-link" href="vehicle-offer-details.html">Read full article</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>