<div class="component promo-feature tt-promo-listing-box">
    <div class="row  row-eq-height">
        <div class="col-md-6 col-lg-6">
            <div class="tt-promo-feature-item">
                <div class="image-box">

                    <img class="lazy"
                         data-src="../needreplace/media/Project/ToyotaTheme/Common/images/features/feature-promo3.jpg"
                         alt="image">
                </div>
                <div class="content">
                    <h3 class="dashed">A stunning exterior</h3>
                    <p>Avalon's exterior exudes a sophisticated confidence others aspire to. Its sculpted lines and
                        powerful curves create a stunning profile, while the bold grille and stylish available LED
                        headlights. </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="tt-promo-feature-item">
                <div class="image-box">
                    <img class="lazy"
                         data-src="../needreplace/media/Project/ToyotaTheme/Common/images/features/feature-promo4.jpg"
                         alt="image">
                </div>
                <div class="content">
                    <h3 class="dashed">Dual exhaust</h3>
                    <p>Leave ordinary behind with an integrated dual chrome-tipped exhaust with chrome-accented
                        cover. </p>
                </div>
            </div>
        </div>
    </div>

</div>