<div class="tt-offer-item">
    <a href="#" class="image-box">
        <div class="tags-box">
            <span class="tag">
                {{#is language "en"}}
                    {{tag_en_3}}
                {{else}}
                    {{tag_ar_3}}
                {{/is}}
            </span>
        </div>
        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/offers/vehicle-offer-img3.jpg"
             alt="">
    </a>
    <div class="content">


        <h4>Ramadan New Offer</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

        <div class="offer-sec no-borders">
            <ul>

                <li>
                    <div class="number">
                        0<sup class="notranslate">%</sup>
                    </div>
                    <div class="label">
                        APR
                    </div>
                </li>

                <li>
                    <div class="number">
                        48
                    </div>
                    <div class="label">
                        Months
                    </div>
                </li>

            </ul>


            <div class="btn-content">
                <a href="vehicle-offer-details.html" class="btn btn-link">
                    LEARN MORE
                </a>
            </div>
        </div>
    </div>
</div>