<div class="component link-list tt-links-box no-border">
    <ul class="row">
        <li class="col-md-4 col-lg-3">
            <div class="tt-car-item">
                <div class="image">
                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                         alt="" class="front">
                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                         alt="" class="hover"></div>
                <div class="title notranslate"><h3>2017 Prius</h3></div>
                <div class="pricing">
                    <span class="label">Starting</span>
                    <div class="price-tag notranslate"><h4>85,900 SR

                    </h4>
                    </div>
                </div>

            </div>
        </li>
        <li class="col-md-4 col-lg-3">
            <div class="tt-car-item">
                <div class="image">
                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                         alt="" class="front">
                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                         alt="" class="hover"></div>
                <div class="title notranslate"><h3>2017 Prius</h3></div>
                <div class="pricing">
                    <span class="label">Starting</span>
                    <div class="price-tag notranslate"><h4>85,900 SR

                    </h4>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</div>