<div class="component promo-feature tt-promo-listing-box">
    <div class="row  row-eq-height">
        <div class="col-md-6 col-lg-6">
            <div class="tt-promo-feature-item">
                <div class="image-box">

                    <img class="lazy"
                         data-src="../needreplace/media/Project/ToyotaTheme/Common/images/features/feature-promo1.jpg"
                         alt="image">
                </div>
                <div class="content">
                    <h3 class="dashed">Contemporary elegance</h3>
                    <p>Stand out from the crowd. The distinguishing split grille and narrow headlamps, immediately give
                        Avalon’s front face a sophisticated appearance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="tt-promo-feature-item">
                <div class="image-box">
                    <img class="lazy"
                         data-src="../needreplace/media/Project/ToyotaTheme/Common/images/features/feature-promo2.jpg"
                         alt="image">
                </div>
                <div class="content">
                    <h3 class="dashed">Signature split grille</h3>
                    <p>The front split grille is a Toyota signature design feature that gives Avalon a bold but
                        approachable front face. Unmistakable, Avalon makes its presence felt from the first glance.</p>
                </div>
            </div>
        </div>
    </div>

</div>