<div class="link-list-carousel">

    <div class="tt-links-box no-border tt-split-four swiper-container">
        <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <div class="tt-car-item">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                             alt="" class="front">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                             alt="" class="hover"></div>
                    <div class="title notranslate"><h3>2017 Prius</h3></div>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="tt-car-item">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                             alt="" class="front">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                             alt="" class="hover"></div>
                    <div class="title notranslate"><h3>2017 Prius</h3></div>


                </div>
            </li>
            <li class="swiper-slide">
                <div class="tt-car-item">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                             alt="" class="front">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                             alt="" class="hover"></div>
                    <div class="title notranslate"><h3>2017 Prius</h3></div>


                </div>
            </li>
           <!--
            <li class="swiper-slide">
                <div class="tt-car-item">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                             alt="" class="front">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                             alt="" class="hover"></div>
                    <div class="title notranslate"><h3>2017 Prius</h3></div>

                </div>
            </li>


            <li class="swiper-slide">
                <div class="tt-car-item">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                             alt="" class="front">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                             alt="" class="hover"></div>
                    <div class="title notranslate"><h3>2017 Prius</h3></div>
                </div>
            </li>
            <li class="swiper-slide">
                <div class="tt-car-item">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png"
                             alt="" class="front">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                             alt="" class="hover"></div>
                    <div class="title notranslate"><h3>2017 Prius</h3></div>


                </div>
            </li>
            <li class="swiper-slide">
                <div class="tt-car-item">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png"
                             alt="" class="front">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png"
                             alt="" class="hover"></div>
                    <div class="title notranslate"><h3>2017 Prius</h3></div>


                </div>
            </li>-->

        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>