<div class="tt-offer-item">
    <a href="#" class="image-box">
        <div class="tags-box">

            <span class="tag">Events</span>
        </div>
        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/offers/vehicle-offer-img8.jpg"
             alt="">
    </a>
    <div class="content">
        <div class="date text-small">
            December 21, 2017
        </div>
        <h4>Toyota: the sky is the limit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            aliqua. </p>

        <div class="btn-content">
            <a href="vehicle-offer-details.html" class="btn btn-link">
                Read MORE
            </a>
        </div>
    </div>
</div>