<div class="tt-offer-item">
    <a href="#" class="image-box">
        <div class="tags-box">
            <span class="tag">
                {{#is language "en"}}
                    {{tag_en_1}}
                {{else}}
                    {{tag_ar_1}}
                {{/is}}
            </span>
        </div>
        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/offers/vehicle-offer-img4.jpg"
             alt="">
    </a>
    <div class="content">


        <h4>Avalon Petrol 2017</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="offer-sec no-borders">
            <ul>
                <!-- foreach param -->
                <li class="tt-offer">
                    <div class="number">
                        4,000
                    </div>
                    <div class="label">
                        Litres free
                    </div>
                </li>
                <li class="tt-offer-now">
                    <div class="price-label">
                        now
                    </div>
                    <div class="price-tag-big notranslate">
                        41254 %
                        <strong>4566 %</strong>
                    </div>
                </li>
            </ul>


            <div class="btn-content">
                <a href="vehicle-offer-details.html" class="btn btn-link">
                    LEARN MORE
                </a>
            </div>
        </div>
    </div>
</div>