<div class="container ">
    <div class="row m-5">
        <div class="col">
            <div class="component link">
                <a href="" class="btn btn-primary">See it all</a>
            </div>
            <div class="component link">
                <a href="" class="btn btn-outline-primary">See it all outline</a>
            </div>
        </div>
        <div class="col">
            <a href="" class="btn btn-link">See it all</a>

        </div>
    </div>
</div>