<div class="footer-cols clearfix">

    <div class="container">
        <div class="footer-contact">

            <div class="row">
                <div class="col-md-4">
                    <div class="foot-item tt-newsletter-box">
                        <div class="heading">
                            <h3>النشرة الإلكترونية</h3>
                            <p>ترقبوا آخر تحديثات تويوتا</p>
                        </div>
                        <div class="tt-subscription-box">
                            <div class="tt-form">
                                <input type="text" class="form-control" placeholder="أدخل  بريدك الالكتروني">
                                <input type="submit" value="submit" class="submit-newsletter flip">
                            </div>
                            <div class="alert-message" style="display: none">
                                You have entered an invalid email
                            </div>
                            <div class="tt-success" style="display: none"><p>Thank you for signing up!</p></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="tt-top-align tt-footer-list pull-left">


                        <div class="component link-list tt-link-list ">
                            <h4><a href="#"> Gتواصل معنا</a></h4>
                            <ul>
                                <li><a href="#.">إبحث عن وكيل</a></li>
                                <li><a href="#.">طلب قيادة تجريبية</a></li>
                                <li><a href="#.">طلب عرض سعر</a></li>
                            </ul>
                        </div>


                    </div>
                    <div class="tt-bottom-align tt-footer-list pull-right">


                        <div class="component link-list tt-link-list tt-link-list-inline">

                            <h4><a href="#"> عن تويوتا</a></h4>
                            <p>Connect with Toyota</p>

                            <ul>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                            </ul>
                        </div>


                        <div class="component link-list tt-link-list tt-link-list-inline">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-facebook.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-google-plus.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-instagram.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-facebook.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-youtube.svg"
                                            alt=""></a></li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="component link-list tt-link-list-inline ">
                        <ul class="tt-client-logos">

                            <li><img
                                    src="../needreplace/media/Project/ToyotaTheme/Common/images/logos/toyota-masterbrand-logo-cmyk-en.png"
                                    alt=""></li>
                            <li><img
                                    src="../needreplace/media/Project/ToyotaTheme/Common/images/logos/alj-motors-log-eng-pos-reg.svg"
                                    alt=""></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="footer-bottom">
        <div class="row">
            <div class="col-md-6 col-xs-12">

                <div class="component link-list tt-link-list-inline ">
                    <ul>
                        <li>
                            <a href="sitemap.html">الأحكام والشروط</a>
                        </li>
                        <li>
                            <a href="#.">خريطة الموقع</a>
                        </li>


                    </ul>


                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="component text-editor tt-copyright">

                    <p><span>جميع الحقوق محفوظة ، ©</span> Toyota.sa , 2018 </p>

                </div>
            </div>
        </div>
    </div>
</div>

{{> google-translate }}
<span class="back-to-top" title="Back to top"></span>