<div class="footer-cols clearfix">

    <div class="container">
        <div class="footer-contact">

            <div class="row">
                <div class="col-md-4">
                    <div class="foot-item tt-newsletter-box">
                        <div class="heading">
                            <h3>Newsletter</h3>
                            <p>Stay tuned to the latest Toyota updates</p>
                        </div>
                        <div class="tt-subscription-box">
                            <div class="tt-form">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <input type="submit" value="submit" class="submit-newsletter flip">

                            </div>
                            <div class="alert-message" style="display: none">
                                You have entered an invalid email
                            </div>
                            <div class="tt-success" style="display: none"><p>Thank you for signing up!</p></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="tt-top-align tt-footer-list pull-left">


                        <div class="component link-list tt-link-list">

                            <h4><a href="#"> Get In Touch </a></h4>
                            <p></p>

                            <ul>
                                <li class="">
                                    <a href="/en/AboutUs">Find a Center</a></li>
                                <li class="">
                                    <a href="/en">Book a Test Drive</a></li>
                                <li class="">
                                    <a href="/en">Request a quote Request a quote</a></li>
                            </ul>
                        </div>


                    </div>
                    <div class="tt-bottom-align tt-footer-list pull-right">


                        <div class="component link-list tt-link-list tt-link-list-inline">

                            <h4><a href="#"> About us </a></h4>
                            <p>Connect with Toyota</p>

                            <ul>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                                <li class="">
                                </li>
                            </ul>
                        </div>


                        <div class="component link-list tt-link-list tt-link-list-inline">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-facebook.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-google-plus.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-instagram.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-facebook.svg"
                                            alt=""></a></li>
                                <li>
                                    <a href="/en"><img
                                            src="../needreplace/media/Project/ToyotaTheme/Common/images/social/icon-youtube.svg"
                                            alt=""></a></li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="component link-list tt-link-list-inline ">
                        <ul class="tt-client-logos">

                            <li><img
                                    src="../needreplace/media/Project/ToyotaTheme/Common/images/logos/toyota-masterbrand-logo-cmyk-en.png"
                                    alt=""></li>
                            <li><img
                                    src="../needreplace/media/Project/ToyotaTheme/Common/images/logos/alj-motors-log-eng-pos-reg.svg"
                                    alt=""></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="footer-bottom">
        <div class="row">
            <div class="col-md-6 col-xs-12">

                <div class="component link-list tt-link-list-inline ">
                    <ul>
                        <li>
                            <a href="#.">Privacy</a>
                        </li>
                        <li>
                            <a href="#.">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="sitemap.html">Sitemap</a>
                        </li>

                    </ul>


                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="component text-editor tt-copyright">

                    <p>All Rights Reserved, © Toyota.sa , 2018</p>

                </div>
            </div>
        </div>
    </div>
</div>


<span class="back-to-top" title="Back to top"></span>