<!-- Static Video-->

.
<div class="container">
    <div class="component gallery tt-gallery-block tt-short-gallery-block has-video">
        <div class="col-md-6 offset-md-3 p-0">
            <div class="main-heading">
                <h3 class="title text-uppercase">Static Video</h3>
            </div>
        </div>
        <div class="row main-row">
            <div class="col">
                <a href="javascript:void(0)">
                    <div class="gallery-item gallery-item-image">
                        <div class="image"
                             style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/gallery/f1.jpg')">
                            <video controls>
                                <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                                        type=video/mp4>
                            </video>
                        </div>
                        <div class="content">
                            <div class="tt-aligner">
                                <div class="tt-aligner-item">
                                    <h3 class="dashed white centered video-icon">WATCH The Camry Safety <br/>
                                        Sense™ standard.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- YOutube Video-->

<div class="container">
    <div class="component gallery tt-gallery-block tt-short-gallery-block has-youtube-video" data-youtube="C0DPdy98e4c">
        <div class="col-md-6 offset-md-3 p-0">
            <div class="main-heading">
                <h3 class="title text-uppercase">Youtube Video</h3>
            </div>
        </div>
        <div class="row main-row">
            <div class="col">
                <a href="javascript:void(0)">
                    <div class="gallery-item gallery-item-image">
                        <div class="image"
                             style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/gallery/f1.jpg')">
                        </div>
                        <div class="content">
                            <div class="tt-aligner">
                                <div class="tt-aligner-item">
                                    <h3 class="dashed white centered video-icon">WATCH The Camry Safety <br/>
                                        Sense™ standard.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>