<div class="component carousel tt-carousel tt-banner-t1" data-properties='{"autoplayTime":4000}' id="flux">
    <!-- Swiper -->
    <div class="swiper-banner swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="spotlight caption-video">


                    <div class="banner-image">
                        <video id="my-video" class="video-js vjs-big-play-button" preload="auto" width="100%" height="100%" data-setup='{"muted":true, "controls":true }' >
                            <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/Toyota_May18_Animate.mp4"
                                    type=video/mp4>

                        </video>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="spotlight caption-center"
                     style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/background-image.png') ">


                    <div class="caption">
                        {{#is language "en"}}
                            <p><strong>THE 2018 C-HR TOYOTA</strong></p>
                            <h2><a href="#.">safety<br/>
                                redefined</a></h2>
                        {{else}}
                            <p><strong>THE 2018 C-HR تويوتا</strong></p>
                            <h3><a href="#.">السلامة <br/>
                                بمفهوم جديد</a></h3>
                        {{/is}}
                    </div>

                    <!-- condtional -->
                    <div class="caption-btn">
                        <a href="vehicle-overview.html" class="btn btn-primary">
                            {{#is language "en"}}
                                Explore now
                            {{else}}
                                اكتشف الآن
                            {{/is}}
                        </a>
                    </div>
                    <!-- condtional / -->

                    <div class="banner-image">
                        <!--<img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/Car-image.png"-->
                        <!--class="desktop-only"-->
                        <!--alt="">-->
                        <div class="desktop-only cover-banner"
                             style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/Car-image.png')"></div>
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-1-mob.jpg"
                             class="mobile-only"
                             alt="">

                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="spotlight caption-video">


                    <div class="caption">

                        {{#is language "en"}}
                            <h3><a href="#.">Watch the Land Cruiser
                                adventures</a></h3>
                        {{else}}
                            <h3><a href="#.">شاهد مغامرات لاند كروزر
                            </a></h3>
                        {{/is}}


                    </div>


                    <div class="banner-image">
                        <!-- <video  class="">

                             <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                                     type=video/mp4>

                         </video>-->


                        <video id="my-video1" class="video-js vjs-big-play-button" preload="auto" width="100%" height="100%" data-setup='{"muted":true, "controls":true }'>
                            <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                                    type=video/mp4>
                            <!-- <source src="MY_VIDEO.webm" type='video/webm'>
                             <p class="vjs-no-js">
                                 To view this video please enable JavaScript, and consider upgrading to a web browser that
                                 <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                             </p>-->
                        </video>
                    </div>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="spotlight caption-left">


                    <div class="caption">
                        <h2 class="dashed">The all new Camry </h2>
                        <p>A stylish layout, enlivening the senses and the <br/> exhilarating pleasure of sporty
                            driving.</p>

                        <div class="pricing">
                            <span class="label">Starting</span>
                            <div class="price-tag notranslate"><h4>85,900 SR</h4></div>
                        </div>
                        <a href="vehicle-overview.html" class="btn btn-primary">View Offer details</a>
                    </div>

                    <div class="caption-validity">
                        <p>This campaign is valid until the end of February 2018.</p>
                    </div>

                    <div class="banner-image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-2.jpg"
                             class="desktop-only"
                             alt="">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-2-mob.jpg"
                             class="mobile-only"
                             alt="">

                    </div>
                </div>
            </div>



            <div class="swiper-slide">
                <div class="spotlight caption-video">


                    <div class="caption">

                        {{#is language "en"}}
                            <h3><a href="#.">Watch the Land Cruiser
                                adventures</a></h3>
                        {{else}}
                            <h3><a href="#.">شاهد مغامرات لاند كروزر
                            </a></h3>
                        {{/is}}

                        <div class="btn-content">
                            <a href="" class="btn btn-primary">Read more</a>
                        </div>
                    </div>


                    <div class="banner-image">
                        <!-- <video  class="">

                             <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                                     type=video/mp4>

                         </video>-->


                        <video id="my-video1" class="video-js vjs-big-play-button" preload="auto" width="100%" height="100%" data-setup='{"muted":true, "controls":true }'>
                            <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                                    type=video/mp4>
                            <!-- <source src="MY_VIDEO.webm" type='video/webm'>
                             <p class="vjs-no-js">
                                 To view this video please enable JavaScript, and consider upgrading to a web browser that
                                 <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                             </p>-->
                        </video>
                    </div>
                </div>
            </div>
            <!--
            <div class="swiper-slide">
                <div class="spotlight caption-left">


                    <div class="caption">
                        <h2 class="dashed">The all new Camry </h2>
                        <p>A stylish layout, enlivening the senses and the <br/> exhilarating pleasure of sporty
                            driving.</p>

                        <div class="pricing">
                            <span class="label">Starting</span>
                            <div class="price-tag notranslate"><h4>85,900 SR</h4></div>
                        </div>
                        <a href="vehicle-overview.html" class="btn btn-primary">View Offer details</a>
                    </div>
                    &lt;!&ndash; condtional &ndash;&gt;
                    <div class="caption-validity">
                        <p>This campaign is valid until the end of February 2018.</p>
                    </div>
                    &lt;!&ndash; condtional /&ndash;&gt;
                    <div class="banner-image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/test1.jpg"
                             class="desktop-only"
                             alt="">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/test1.jpg"
                             class="mobile-only"
                             alt="">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="spotlight caption-left">


                    <div class="caption">
                        <h2 class="dashed">The all new Camry </h2>
                        <p>A stylish layout, enlivening the senses and the <br/> exhilarating pleasure of sporty
                            driving.</p>

                        <div class="pricing">
                            <span class="label">Starting</span>
                            <div class="price-tag notranslate"><h4>85,900 SR</h4></div>
                        </div>
                        <a href="vehicle-overview.html" class="btn btn-primary">View Offer details</a>
                    </div>
                    &lt;!&ndash; condtional &ndash;&gt;
                    <div class="caption-validity">
                        <p>This campaign is valid until the end of February 2018.</p>
                    </div>
                    &lt;!&ndash; condtional /&ndash;&gt;
                    <div class="banner-image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/test2.jpg"
                             class="desktop-only"
                             alt="">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/test2.jpg"
                             class="mobile-only"
                             alt="">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="spotlight caption-left">


                    <div class="caption">
                        <h2 class="dashed">The all new Camry </h2>
                        <p>A stylish layout, enlivening the senses and the <br/> exhilarating pleasure of sporty
                            driving.</p>

                        <div class="pricing">
                            <span class="label">Starting</span>
                            <div class="price-tag notranslate"><h4>85,900 SR</h4></div>
                        </div>
                        <a href="vehicle-overview.html" class="btn btn-primary">View Offer details</a>
                    </div>
                    &lt;!&ndash; condtional &ndash;&gt;
                    <div class="caption-validity">
                        <p>This campaign is valid until the end of February 2018.</p>
                    </div>
                    &lt;!&ndash; condtional /&ndash;&gt;
                    <div class="banner-image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/test4.jpg"
                             class="desktop-only"
                             alt="">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/test3.jpg"
                             class="mobile-only"
                             alt="">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="spotlight caption-left">


                    <div class="caption">
                        <h2 class="dashed">The all new Camry </h2>
                        <p>A stylish layout, enlivening the senses and the <br/> exhilarating pleasure of sporty
                            driving.</p>

                        <div class="pricing">
                            <span class="label">Starting</span>
                            <div class="price-tag notranslate"><h4>85,900 SR</h4></div>
                        </div>
                        <a href="vehicle-overview.html" class="btn btn-primary">View Offer details</a>
                    </div>
                    &lt;!&ndash; condtional &ndash;&gt;
                    <div class="caption-validity">
                        <p>This campaign is valid until the end of February 2018.</p>
                    </div>
                    &lt;!&ndash; condtional /&ndash;&gt;
                    <div class="banner-image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/Slider_Dunlop.jpg"
                             class="desktop-only"
                             alt="">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/Slider_Dunlop.jpg"
                             class="mobile-only"
                             alt="">

                    </div>
                </div>
            </div>
-->


        </div>
        <!-- swiper options -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!--<div class="swiper-button-next"><span class="tt-text">Next</span><span-->
        <!--class="tt-progress-bar"></span></div>-->
        <!--<div class="swiper-button-prev"><span class="tt-text">Previous</span><span class="tt-progress-bar"></span></div>-->
        <!-- swiper options end -->
    </div>

</div>
