<ul class="short-top-nav">
    <!--<li><a href="#." class="vehicles-toggle"> Vehicles </a></li>-->
    <li><a href="page-vehicles.html"> Vehicles </a></li>
    <li><a href="#."> <img
            src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/find-a-center.png"
            alt=""> </a></li>
    <li>
        <div id="menu-right" class="menu-hamburger">
            <div class="bar-right"></div>
            <div class="bar-right"></div>
            <div class="bar-right"></div>
        </div>
    </li>
</ul>


<div class="mobile-nav-box">
    <ul class="nav navbar-nav navbar-mobile navbar-mobile-white ">
        <li>                            <a href="http://toyota.ksa.sc/ar/" class="lang lang-ar"
                                           onclick="return SwitchToLanguage('ar', 'en', 'http://toyota.ksa.sc/ar/')">العربية</a></li>
        <li>
            <div class="tt-search-form">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-mobile mobile-nav">
        <li class="active">
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vehicles</a>-->
            <a href="page-vehicles.html">Vehicles</a>
        </li>
        <li>
            <a href="content-hub-details.html">Tools & Info </a>
        </li>
        <li>
            <a href="#." class="dropdown-toggle" data-toggle="dropdown">Campaigns & Offers</a>
            <ul class="dropdown-menu sub-menu">
                <li><a href="http://google.com">News</a></li>
                <li><a href="#.">Technology</a></li>
                <li><a href="#.">Safety</a></li>
            </ul>
        </li>
        <li>

            <a href="#." class="dropdown-toggle" data-toggle="dropdown">Content Hub</a>
            <ul class="dropdown-menu sub-menu">
                <li><a href="http://google.com">News</a></li>
                <li><a href="#.">Technology</a></li>
                <li><a href="#.">Safety</a></li>
            </ul>
        </li>
        <li>
            <a href="#.">Corporate</a>
        </li>
        <li>
            <a href="#.">test</a>
        </li>
        <li>
            <a href="#.">test</a>
        </li>
        <li>
            <a href="#.">test</a>
        </li>
    </ul>

    <ul class="navbar-mobile navbar-mobile-white ">
        <li><a href="#."><em><img alt="image"
                                  src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/book-icon.svg"></em>
                                <span>Book
                                a Test Drive</span></a></li>
        <li><a href="#."><em> <img alt="image"
                                   src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/quote-icon.svg"></em><span>Find
                                a Center</span></a></li>
        <li class="inline">

            <a href="#.">Owners</a>

        </li>
        <li class="inline">

            <a href="#.">Loyalty</a>

        </li>
    </ul>
</div>

