<div class="spotlight">
    <div class="container">
        <div class="col-md-12">
            <div class="caption">
                <p>THE 2018 C-HR TOYOTA</p>
                <h2>safety<br/>
                    redefined</h2>
            </div>

        </div>
    </div>
    <em>
        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-1.jpg" class="desktop"
             alt="">
        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-1-mob.jpg" class="mobile"
             alt="">
    </em>
</div>