<div class="component story tt-story-box tt-story-feature-box">
    <div class="tt-banner-bg flip"
         data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/story-get-in-touch.jpg"
         data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/story-get-in-touch@2x.jpg"
    >
    </div>
    <div class="container">

        <div class="col-md-12">
            <div class="tt-story-content-box" style="color:purple">
                <div class="tt-aligner">
                    <div class="tt-aligner-item">


                        {{#is language "en"}}
                            <h3 class="dashed white">queries for existing
                                toyota owners</h3>
                            <div class="content">
                                <p>For any queries relating to your existing Toyota, please visit our Owners site where
                                    you can find relevant contact information.</p>
                            </div>
                            <div class="btn-content none">
                                <a href="" class="btn btn-primary">Discover the full story</a>
                            </div>
                        {{else}}
                            <h3 class="dashed white">إلى أين نحن متجهون</h3>
                            <div class="content">
                                <p>
                                    وبفضل حرص شركة عبد اللطيف جميل على تطبيق مبدأ "الضيف أولا"، تعمل الشركة على توفير
                                    مرافق وخدمات تجعل شراء وتملك سيارات تويوتا تجربة مرضية لعملائها بكل المقاييس. وتدعم
                                    شركة عبداللطيف جميل الانتشار الواسع لسيارات تويوتا في السوق السعودي عبر شبكة ممتدة
                                    من مراكز البيع والصيانة الموزعة استراتيجياً في أنحاء المملكة.

                                </p>
                            </div>
                            <div class="btn-content none">
                                <a href="" class="btn btn-primary">اكتشف القصة الكاملة</a>
                            </div>
                        {{/is}}

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
