<div class="component story tt-story-box tt-story-feature-box">
    {{#is language "en"}}
        <div class="tt-banner-bg flip"
             data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/story-feature-banner.jpg"
             data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/story-feature-banner@2x.jpg">
        </div>
    {{else}}
        <div class="tt-banner-bg flip"
             style="background-image:url(../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/story-feature-banner-ar.jpg)"
             data-rjs="3">
        </div>
    {{/is}}
    <div class="container">

        <div class="col-md-12">
            <div class="tt-story-content-box" style="color: aquamarine">
                <div class="tt-aligner">
                    <div class="tt-aligner-item">


                        {{#is language "en"}}
                            <h3 class="dashed white">Elegant and energetic</h3>
                            <div class="content">
                                <p>From the front headlamps, the upper body crease line flows to rear combination lamps,
                                    effortlessly and harmoniously uniting every aspect of the car. And this pleasing
                                    attention to design detail is found everywhere.</p>
                            </div>
                            <div class="btn-content none">
                                <a href="" class="btn btn-primary">Discover the full story</a>
                            </div>
                        {{else}}
                            <h3 class="dashed white">إلى أين نحن متجهون</h3>
                            <div class="content">
                                <p>
                                    وبفضل حرص شركة عبد اللطيف جميل على تطبيق مبدأ "الضيف أولا"، تعمل الشركة على توفير
                                    مرافق وخدمات تجعل شراء وتملك سيارات تويوتا تجربة مرضية لعملائها بكل المقاييس. وتدعم
                                    شركة عبداللطيف جميل الانتشار الواسع لسيارات تويوتا في السوق السعودي عبر شبكة ممتدة
                                    من مراكز البيع والصيانة الموزعة استراتيجياً في أنحاء المملكة.

                                </p>
                            </div>
                            <div class="btn-content none">
                                <a href="" class="btn btn-primary">اكتشف القصة الكاملة</a>
                            </div>
                        {{/is}}

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
