<div class="component story tt-story-box">
    <div class="tt-banner-bg"

         data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/toyota-corolla-layout.jpg"
         data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/toyota-corolla-layout@2x.jpg"
    >
        <!--style="background-image:url(../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/toyota-corolla-layout.jpg)"-->
    </div>

    <div class="container">

        <div class="col-md-12">
            <div class="tt-story-content-box" style="color:orange">
                <div class="tt-aligner">
                    <div class="tt-aligner-item">


                        {{#is language "en"}}
                            <h3 class="dashed white">Where we're going</h3>
                            <div class="content">
                                <p>Using our “Guest First” philosophy, we seek to delight our guests at every
                                    opportunity.
                                    To provide the best ownership experience possible, we manage virtually every
                                    step
                                    along
                                    the
                                    vehicle supply chain – from the release of just-assembled new vehicles to
                                    pre-owned
                                    sales many
                                    years later.</p>
                            </div>
                            <div class="btn-content">
                                <a href="" class="btn btn-primary">Discover the full story</a>
                            </div>
                        {{else}}
                            <h3 class="dashed white">إلى أين نحن متجهون</h3>
                            <div class="content">
                                <p>
                                    وبفضل حرص شركة عبد اللطيف جميل على تطبيق مبدأ "الضيف أولا"، تعمل الشركة على توفير
                                    مرافق وخدمات تجعل شراء وتملك سيارات تويوتا تجربة مرضية لعملائها بكل المقاييس. وتدعم
                                    شركة عبداللطيف جميل الانتشار الواسع لسيارات تويوتا في السوق السعودي عبر شبكة ممتدة
                                    من مراكز البيع والصيانة الموزعة استراتيجياً في أنحاء المملكة.

                                </p>
                            </div>
                            <div class="btn-content">
                                <a href="" class="btn btn-primary">اكتشف القصة الكاملة</a>
                            </div>
                        {{/is}}

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
