<div class="tt-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <div class="component link-list tt-links-box tt-last-child-no-border support-menu">
                    <ul>
                       <!-- <li>
                            <div class="component search tt-search-container">
                                <div class="search-box">
                                    <input type="text" name="searchBar" id="searchBar" class="search-input">

                                </div>
                                <div class="search-btn">
                                    <input type="button" name="searchBtn" id="searchBtn" value="ابحث">
                                </div>
                            </div>
                        </li>-->
                        <li>
                            <a href="#." class="lang notranslate">English</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="component image brand-logo">
                    <a href="#." class=" no-border"><img
                            src="../needreplace/media/Project/ToyotaTheme/Common/images/logos/alj-motors-log-ara-pos-reg.svg"
                            alt=""></a>
                </div>
                <div class="component link-list tt-links-box tt-menu tt-last-child-no-border">
                    <ul>
                        <li class="active">
                            <a href="book-a-test-drive.html">طلب قيادة تجريبية</a>
                        </li>
                        <li>
                            <a href="#.">إبحث عن وكيل</a>
                        </li>
                        <li>
                            <a href="#.">برنامج الولاء</a>
                        </li>
                        <li>
                            <a href="#.">ملاك تويوتا</a>
                        </li>

                    </ul>

                </div>


            </div>

        </div>

    </div>
</div>