<div class="tt-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

                <div class="component link-list tt-links-box tt-last-child-no-border support-menu">
                    <ul>
                       <!-- <li>
                            <div class="component search tt-search-container">
                                <div class="search-box">
                                    <input type="text" name="searchBar" id="searchBar" class="search-input">

                                </div>
                                <div class="search-btn">
                                    <input type="button" name="searchBtn" id="searchBtn" value="Search">
                                </div>
                            </div>
                        </li>-->
                        <li>
                            <!--<a href="#." class="lang"><img-->
                            <!--src="../needreplace/media/Project/ToyotaTheme/Common/images/lang/arabic-mob-btn.png"-->
                            <!--alt=""></a>-->
                            <a href="http://toyota.ksa.sc/ar/" class="lang lang-ar"
                               onclick="return SwitchToLanguage('ar', 'en', 'http://toyota.ksa.sc/ar/')">العربية</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="component image brand-logo">
                    <a href="#." class=" no-border"><img
                            src="../needreplace/media/Project/ToyotaTheme/Common/images/logos/alj-motors-log-eng-pos-reg.svg"
                            alt=""></a>
                </div>
                <div class="component link-list tt-links-box tt-menu tt-last-child-no-border">
                    <ul>
                        <li class="active">
                            <a href="book-a-test-drive.html">Book a Test Drive</a>
                        </li>
                        <li>
                            <a href="find-a-center.html">Find a Center</a>
                        </li>
                        <li>
                            Loyalty
                        </li>
                        <li>
                            <a href="#.">Owners</a>
                        </li>

                    </ul>

                </div>


            </div>

        </div>

    </div>
</div>