<div class="container">
    <div class="component gallery tt-gallery-block tt-short-gallery-block has-youtube-video" data-youtube="C0DPdy98e4c">
        <div class="col-md-6 offset-md-3 p-0">
            <div class="main-heading">
                <h3 class="title text-uppercase">THE Features HIGHLIGHTS</h3>

            </div>
        </div>

        <div class="row main-row">
            <div class="col">
                <a href="javascript:void(0)">
                    <div class="gallery-item gallery-item-image">
                        <div class="image"
                             style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/gallery/f1.jpg')">
                        </div>
                        <div class="content">

                            <div class="tt-aligner">
                                <div class="tt-aligner-item">

                                    <h3 class="dashed white centered video-icon">WATCH The Camry Safety <br/>
                                        Sense™ standard.</h3>


                                </div>

                            </div>
                        </div>

                    </div>
                </a>
            </div>

        </div>

    </div>
</div>