<div class="inpage-nav-sec">
    <div class="container">

        <div class="car-title">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-title1.png" alt="car-title">
            <!--<img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-title2.png" alt="car-title">-->
            <!--<img src="../needreplace/media/Project/ToyotaTheme/Common/images/JH7031-Converted.png" alt="car-title">-->
            <h2 class="textual">Avalon 2017</h2>
            <div class="selected">
                Overview
            </div>
            <div class="arrow-text">
                <span class="collapsed">Collapse</span>
                <span class="expanded">Expand</span>
            </div>
        </div>

        <ul class="inpage-nav">
            <li class="active"><a href="vehicle-overview.html">Overview</a></li>
            <li><a href="vehicle-features.html">Features</a></li>
            <li><a class="active" href="vehicle-gallery.html">Gallery</a></li>
            <li><a href="vehicle-compare-specs.html">Compare Specs</a></li>
            <li><a href="vehicle-available-offers.html">Available offers</a></li>
        </ul>

        <div class="btn btn-grey btn-sm btn-outline right-btn">Buy online</div>

    </div>
</div>