<div class="tt-quicklinks-promos text-center">
    <div class="container">
        <div class="row row-no-padding">
            <div class="col">
                <div class="component promo tt-simple-promo">
                    <div class="promo-img">
                        <a href="#."><img alt="image"
                                          src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/branch-locator.svg"></a>
                    </div>
                    <h3 class="dashed centered">
                        <a href="#.">Find the nearest Center </a>
                    </h3>

                    <p>
                        Search for a nearby center and find the best Avalon deals
                    </p>
                    <a href="" class="btn btn-link">FIND A CENTER</a>
                </div>
                g
            </div>
            <div class="col">
                <div class="component promo tt-simple-promo">
                    <div class="promo-img">
                        <a href="#."><img alt="image"
                                          src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/book-icon.svg">
                        </a>
                    </div>
                    <h3 class="dashed centered">
                        <a href="#.">Book a test drive</a>
                    </h3>

                    <p>
                        Be the first to test drive your <!--favourite Toyota cars in a nearby center-->
                    </p>
                    <a href="" class="btn btn-link">BOOK NOW</a>
                </div>
            </div>
            <div class="col">
                <div class="component promo tt-simple-promo">
                    <div class="promo-img">
                        <a href="#."><img alt="image"
                                          src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/quote-icon.svg">
                        </a>
                    </div>
                    <h3 class="dashed centered">
                        <a href="#."> download brochure</a>
                    </h3>

                    <p>
                        Download and explore the Avalon full specifications and features.
                    </p>
                    <a href="" class="btn btn-link">DOWNLOAD NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>