<div class="component gallery tt-gallery-block tt-short-gallery-block">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-0">
        <div class="main-heading">
            <h3 class="title text-uppercase">THE AVALON GALLERY</h3>

        </div>
    </div>


    <div class="row row-no-padding main-row">
        <div class="col">
            <a href="javascript:void(0)">
                <div class="gallery-item gallery-item-image" style="color: red">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/gallery-img1.jpg"
                             alt="image">
                    </div>
                    <div class="content">

                        <div class="tt-aligner">
                            <div class="tt-aligner-item">

                                <h3 class="dashed white centered title">Exterior PHOTOS</h3>
                                <p>Explore a vibrant gallery of 18 Photos and 10 Videos</p>

                            </div>

                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col">
            <a href="javascript:void(0)">
                <div class="gallery-item gallery-item-image" style="color: #00A000">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/gallery-img1.jpg"
                             alt="image">
                    </div>
                    <div class="content">

                        <div class="tt-aligner">
                            <div class="tt-aligner-item">

                                <h3 class="dashed white centered title">Interior PHOTOS</h3>
                                <p>Explore breathtaking designs with 12 photos and 8 videos</p>

                            </div>

                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col">
            <a href="javascript:void(0)">
                <div class="gallery-item gallery-item-image" style="color:#00cc99">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/gallery-img1.jpg"
                             alt="image">
                    </div>
                    <div class="content">

                        <div class="tt-aligner">
                            <div class="tt-aligner-item">

                                <h3 class="dashed white centered title">Exterior PHOTOS</h3>
                                <p>Explore a vibrant gallery of 18 Photos and 10 Videos</p>

                            </div>

                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col">
            <a href="javascript:void(0)">
                <div class="gallery-item gallery-item-image" style="color: deepskyblue ">
                    <div class="image">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/gallery-img1.jpg"
                             alt="image">
                    </div>
                    <div class="content">

                        <div class="tt-aligner">
                            <div class="tt-aligner-item">

                                <h3 class="dashed white centered title">Interior PHOTOS</h3>
                                <p>Explore breathtaking designs with 12 photos and 8 videos</p>

                            </div>

                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>

</div>
