@font-face {
  font-family: 'toyota_textbold_italic';
  src: /*url('../fonts/toyotatext_bdit-webfont-w2.woff2') format('woff2'),*/
  url('../fonts/toyotatext_bdit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'toyota_textbold';
  src: /*url('../fonts/toyotatext_bold-webfont-w2.woff2') format('woff2'),*/
  url('../fonts/toyotatext_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'toyota_textitalic';
  src: /*url('../fonts/toyotatext_it-webfont-w2.woff2') format('woff2'),*/
  url('../fonts/toyotatext_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'toyota_textregular';
  src: /*url('../fonts/toyotatext_rg-webfont-w2.woff2') format('woff2'),*/
  url('../fonts/toyotatext_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
