/*
@font-face {
  font-family: 'ToyotaDisplay-Bold';
  src: url('../fonts/toyotaarabicdisplay-bold-w2.woff2') format('woff2'),
  url('../fonts/toyotaarabicdisplay-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ToyotaDisplay-Heavy';
  src: url('../fonts/toyotaarabicdisplay-heavy-w2.woff2') format('woff2'),
  url('../fonts/toyotaarabicdisplay-heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ToyotaDisplay-Regular';
  src: url('../fonts/toyotaarabicdisplay-regular-w2.woff2') format('woff2'),
  url('../fonts/toyotaarabicdisplay-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}*/

@font-face {
  font-family: 'ToyotaDisplay-Bold';
  src: /*url('../fonts/ToyotaArabicDisplay-Bold-w2.woff2') format('woff2'),*/
  url('../fonts/ToyotaArabicDisplay-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ToyotaDisplay-Heavy';
  src: /*url('../fonts/ToyotaArabicDisplay-Heavy-w2.woff2') format('woff2'),*/
  url('../fonts/ToyotaArabicDisplay-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ToyotaDisplay-Regular';
  src: /*url('../fonts/ToyotaArabicDisplay-Regular-w2.woff2') format('woff2'),*/
  url('../fonts/ToyotaArabicDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

