$light-grey-color: rgba(0, 0, 0, 0.22);
.tt-tabs {
  display: block;
  margin: 20px 0;
  .tabs-menu {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 0 40px;
    li {
      display: inline-block;
      font-family: $ToyotaText-Regular;
      padding: 0;
      margin: 0;
      a {
        display: inline-block;
        padding: 15px;
        margin: 0;
      }
    }
  }
  .tab {
    display: block;
    width: 100%;
    h2 {
      font-size: 30px;
    }
    #tab-1 {
      //display: block;
    }
    .tab-content {
      //display: none;
      width: 100%;
      .component.link.text-center {
        margin-top: 20px;
      }
      .tt-links-box {
        //margin-bottom: 20px;

      }
    }
  }
  &.tt-tabs-centered {
    .tt-tabs-box .tabs-menu {
      text-align: center;
      margin: 0 0 50px;
      li {
        float: none;

        a {

          line-height: normal;
          letter-spacing: 1px;
          padding: 5px 0 19px;
        }

        &:before {
          margin: 0 30px 0 26px;
          border-color: rgba(155, 155, 155, 0.2);
        }
      }
    }
  }
}

.tt-tabs-box {
  position: static;
  width: 100%;
  display: block;
  margin: 0;
  .tabs-menu {
    li {
      float: $left;
      display: inline-block;
      line-height: 10px;
      padding: 0;
      margin: 0;

      &:before {
        content: "";
        position: relative;
        display: inline-block;
        height: 10px;
        border-left: 1px solid rgba(155, 155, 155, 0.2);
        border-right: 0;
        margin: 0 31px 0 29px;
        vertical-align: middle;
        top: 0;
      }
      &:first-child:before {
        border: none;
        display: none;
      }

      a {
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        font: normal 11px/15px $ToyotaText-Bold;
        letter-spacing: 1.5px;
        color: #000;
        text-transform: uppercase;
        padding: 5px 0 12px;
        border-bottom: 2px solid transparent;

      }
      &:hover a {
        border-bottom: 2px solid $dark-red;
      }
      &.active a, &.current a {
        color: $dark-red;
        border-bottom: 2px solid $dark-red;
      }

    }
    &.tt-last-child-no-border {
      li:first-child:before {
        border-left: 1px solid rgba(155, 155, 155, 0.9);
        display: inline-block;
      }
      li:last-child:before {
        border: none;
        display: none;
      }
    }
  }
}

#content, #header {
  .tt-tabs-box .tabs-menu li {
    a {
      color: rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid transparent;
    }
    &:hover a {
      color: #000;
      border-bottom: 2px solid $dark-red;
    }
    &.active a,
    &.current a {
      color: $dark-red;
      border-bottom: 2px solid $dark-red;
    }
  }
}

.tt-tabs.tt-tabs-centered .tt-tabs-box .tabs-menu li a {
  //font-weight: bold;
}