---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---
<div class="content-hub-detail">

<div class="banner-full">
    <div class="banner-height">
        <img src=""
             data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/full-image-banner.jpg"
             data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/full-image-banner@2x.jpg"
        >
    </div>
</div>

  <!--<div class="content-hub-detail">-->
    <div class="small-container ">
        <div class="main-heading side-padd-100">
            <div class="dashed centered ">
                <div class="date text-small">
                    September 6, 2017
                </div>
                <h4 class="side-padd-20 tt-small-heading">Toyota Global at the 2018 Geneva Motor Show</h4>
            </div>
            <h2 class="p-small-1">
                The GR Supra Racing Concept revives the great heritage of one of Toyota's most famous sports cars. The
                Supra name evokes power, performance and handling that defined a succession of world-class cars for a
                quarter of a century.
            </h2>
        </div>

        <div class="tt-single-slider ">

            <div class="swiper-container no-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/smaller-slider-1.jpg"
                             alt="slider-image">
                    </div>
                    <!--<div class="swiper-slide">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/smaller-slider-2.jpg"
                             alt="slider-image">
                    </div>
                    <div class="swiper-slide">
                        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/smaller-slider-3.jpg"
                             alt="slider-image">
                    </div>-->
                </div>

                <div class="swiper-pagination fraction-pagination"></div>
                <div class="swiper-button-prev slider-arrow-left"></div>
                <div class="swiper-button-next slider-arrow-right"></div>
            </div>

        </div>

        <div class="side-padd-100 main-heading text-left">
            <p>
                The GR Supra Racing Concept revives the great heritage of one of Toyota's most famous sports cars. The
                Supra name evokes power, performance and handling that defined a succession of world-class cars for a
                quarter of a century.
            </p>
            <p>
                As a thoroughbred sports car, the Toyota Supra built a reputation both as a formidable performer on the
                road and as an all-conquering machine on the racetrack, dominating Japan's top-level GT racing series
                and earning legions of fans.
            </p>
            <p>
                The Toyota Supra still enjoys an iconic status among sports car aficionados, 16 years from the end of
                production. Its enduring popularity has been helped by its success as a popular model in the Gran
                Turismo® driving simulator video game, and as a starring car in the first film in The Fast and the
                Furious global action movie series.
            </p>
            <p>
                The Supra badge first appeared in 1978 on a larger and more powerful version of the second generation
                Celica before becoming established as a successful model in its own right.
            </p>
        </div>

        <div class="component gallery tt-gallery-block tt-short-gallery-block has-youtube-video"
             data-youtube="C0DPdy98e4c">
            <div class="row main-row">
                <div class="col">
                    <div data-href="javascript:void(0)">
                        <div class="gallery-item gallery-item-image">
                            <div class="image"
                                 style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/gallery/f1.jpg')">
                            </div>
                            <div class="content">

                                <div class="tt-aligner">
                                    <div class="tt-aligner-item">

                                        <h3 class="dashed white centered video-icon">&nbsp;</h3>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="side-padd-100 main-heading text-left">

            <div class="testimony">

                <div class="message">
                    <h1>
                        The GR Supra Racing Concept revives the great heritage of one of Toyota's most famous sports
                        cars.
                    </h1>
                </div>

                <h4 class="t-name">Jane Wislow</h4>
                <div class="text-small-2">Marketing Manager - Toyota Global</div>

                <!--<div class="t-title">Marketing Manager  - Toyota Global</div>-->

            </div>

            <h5>Design, chassis and equipment features</h5>
            <p>
                The racing concept has a dramatic bodywork design that includes a large rear wing. It makes extensive
                use of strong but lightweight composite material for elements such as the wide front and rear bumpers,
                front splitter and rear diffuser, side skirts, door mirror housings and the rear wing. The hood is
                crafted from the same material and features louvred air inlets. The windscreen and side windows are made
                of plastic.
            </p>
            <p>
                The concept's chassis features lowered front and rear suspension using original equipment (OE)
                components. BBS racing wheels with centre-nut attachment are fitted with Michelin racing tyres. The
                braking system uses Brembo Racing callipers and discs and there is a racing exhaust.
            </p>
            <p>
                The cabin is entirely competition-focused and is fitted with a racing dashboard and OMP driver's seat
                and safety harness. OMP has also supplied the quick-release steering wheel, mounted on a racing column
                and equipped with a paddle shift system. The doors are lined with carbon fibre panels and the dashboard
                includes a racing display.
            </p>
            <p>
                Competition safety requirements are met by a full roll cage and fire extinguishers, and the fuel and
                brake lines, pedal box, battery and wiring looms are all designed to competition standard.
            </p>
        </div>

    </div>
<!--</div>-->

<div class="container nested-container">
  <div class="row">
  <div class="col-md-6 offset-md-3 p-0">
    <div class="main-heading">
      <h4>Campaign Image gallery</h4>
    </div>
  </div>
  </div>
</div>

<div class="component gallery tt-gallery-block xtt-short-gallery-block tt-gallery-block-fullpage has-slider tt-has-hover-effect mt-0">
    <div class="container">
        <div class="row main-row no-gutters">

            <div class="swiper-container no-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g4.jpg"
                           data-gall="myGallery1"
                           class="venobox">
                            <div class="gallery-item gallery-item-image">
                                <div class="image">
                                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g4.jpg"
                                         alt="image">
                                </div>
                                <div class="content">

                                    <div class="tt-aligner">
                                        <div class="tt-aligner-item">

                                <span class="iconed-text">
                                  Expand Image
                                </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g5.jpg"

                           data-gall="myGallery1"
                           class="venobox"
                        >
                            <div class="gallery-item gallery-item-image">
                                <div class="image">
                                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g5.jpg"
                                         alt="image">
                                </div>
                                <div class="content">

                                    <div class="tt-aligner">
                                        <div class="tt-aligner-item">

                                <span class="iconed-text">
                                  Expand Image
                                </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g6.jpg"

                           data-gall="myGallery1"
                           class="venobox"
                        >
                            <div class="gallery-item gallery-item-image">
                                <div class="image">
                                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g6.jpg"
                                         alt="image">
                                </div>
                                <div class="content">

                                    <div class="tt-aligner">
                                        <div class="tt-aligner-item">

                                <span class="iconed-text">
                                  Expand Image
                                </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g7.jpg"

                           data-gall="myGallery1"
                           class="venobox"
                        >
                            <div class="gallery-item gallery-item-image">
                                <div class="image">
                                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g7.jpg"
                                         alt="image">
                                </div>
                                <div class="content">

                                    <div class="tt-aligner">
                                        <div class="tt-aligner-item">

                                <span class="iconed-text">
                                  Expand Image
                                </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g2.jpg"

                           data-gall="myGallery1"
                           class="venobox"
                        >
                            <div class="gallery-item gallery-item-image">
                                <div class="image">
                                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g2.jpg"
                                         alt="image">
                                </div>
                                <div class="content">

                                    <div class="tt-aligner">
                                        <div class="tt-aligner-item">

                                <span class="iconed-text">
                                  Expand Image
                                </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g1.jpg"

                           data-gall="myGallery1"
                           class="venobox"
                        >
                            <div class="gallery-item gallery-item-image">
                                <div class="image">
                                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/gallery/g1.jpg"
                                         alt="image">
                                </div>
                                <div class="content">

                                    <div class="tt-aligner">
                                        <div class="tt-aligner-item">

                                <span class="iconed-text">
                                  Expand Image
                                </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
              <div class="swiper-pagination fraction-pagination"></div>
              <div class="swiper-button-prev slider-arrow-left"></div>
                <div class="swiper-button-next slider-arrow-right"></div>
            </div>
        </div>
    </div>
</div>



<div class="container nested-container">
  <div class="row">
  <div class="col-md-6 offset-md-3 p-0">
    <div class="main-heading">
      <h4>Related Articles</h4>
    </div>
  </div>
  </div>
</div>

<div class="component offer-listing tt-offer-listing-box">
    <div class="container">

        <div class="row  row-eq-height">
            <div class="col col-lg-4 col-md-6"> {{> _vehicle-offer-item-info-4 }}</div>
            <div class="col col-lg-4 col-md-6"> {{> _vehicle-offer-item-info-5 }}</div>
            <div class="col col-lg-4 col-md-6"> {{> _vehicle-offer-item-info-6 }}</div>


        </div>
        <div class="btn-align text-center">
            <a href="vehicle-gallery.html" class="btn btn-primary">
                {{#is language "en"}}
                    Go to Content hub
                {{else}}
                    انتقل إلى مركز المحتوى
                {{/is}}


            </a>
        </div>

    </div>

</div>


</div>
