---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---


<div class="small-container">
    <div class="main-heading side-padd-100">
        <div class="dashed centered ">
            <div class="date text-small">
                September 6, 2017
            </div>
            <h4 class="side-padd-20">Toyota, the future of Mobility in the world</h4>
        </div>
        <p class="p-small-1">We offer you a forward platform that reflects the pulse of youth and the rhythm of the future! You will learn about a number of the latest developments in the world of Toyota and the latest cars and innovations and achievements of local and regional and global as well as the latest trends in vehicle technology.</p>

        <div class="mini-logo-row">
            <div class="mini-logo">
                <img class="logo" src="../needreplace/media/Project/ToyotaTheme/Common/images/logos/fwd-logo.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container">

    {{> buttons }}

    {{> vehicles-tabs }}

    {{> gallery-block-video }}


    <div class="campaign-highlights">
        <div class="container nested-container">
            <div class="padded">
                <div class="row">
                    <div class="col">
                        <div class="info-padd">
                            <h4 class="tt-upper info-heading">Bradawa 2018 Skip the horizon</h4>

                            <div class="episode-meta">
                <span class="text-small italic-1 ">
                  S01 / E01
                </span>
                            </div>
                            <p>
                                We offer you a forward platform that reflects the pulse of youth and the rhythm of the
                                future!
                            </p>
                            <p>
                                Learn about the latest developments in the world of Toyota, latest cars and innovations,
                                and much more.
                                Meet the people who made all of this possible every month through Forward.
                            </p>
                            <div class="episode-info text-small">
                                <span>2 months ago</span>
                                <span>6.7K Views</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="video-sec">
                            <h4 class="heading">Featured Episodes</h4>
                            <a href="" class="btn has-icon yt-btn btn-inverse">
                                <img class="btn-icon"
                                     src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/yt.svg">
                                See more on
                            </a>
                            <div class="row">
                                <div class="col-6">
                                    <div class="video-box">
                                        <div class="poster">
                                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/1.jpg"
                                                 alt="poster-image">
                                            <div class="duration text-small italic-1 ">
                                                4:04
                                            </div>

                                        </div>
                                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E01
                    </span>
                    <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="video-box">
                                        <div class="poster">
                                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/2.jpg"
                                                 alt="poster-image">
                                            <div class="duration text-small italic-1 ">
                                                13:04
                                            </div>

                                        </div>
                                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E02
                    </span>
                    <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="video-box">
                                        <div class="poster">
                                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/3.jpg"
                                                 alt="poster-image">
                                            <div class="duration text-small italic-1 ">
                                                32:02
                                            </div>

                                        </div>
                                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E03
                    </span>
                  <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="video-box">
                                        <div class="poster">

                                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/4.jpg"
                                                 alt="poster-image">
                                            <div class="duration text-small italic-1 ">
                                                6:22
                                            </div>

                                        </div>
                                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E04
                    </span>
                  <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>

  <div class="container nested-container">
    <div class="row">
    <div class="col-md-6 offset-md-3 p-0">
      <div class="main-heading">
        <h4>Campaign Image gallery</h4>
      </div>
    </div>
    </div>
  </div>

    <div class="video-gallery-full has-video-icons">

        <div class="container nested-container">

            <div class="row">
                <div class="col-4">
                    <div class="video-box">
                        <div class="poster">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/1.jpg"
                                 alt="poster-image">
                            <div class="duration text-small italic-1 ">
                                4:04
                            </div>

                        </div>
                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E01
                    </span>
            <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="video-box">
                        <div class="poster">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/2.jpg"
                                 alt="poster-image">
                            <div class="duration text-small italic-1 ">
                                13:04
                            </div>

                        </div>
                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E02
                    </span>
            <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="video-box">
                        <div class="poster">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/3.jpg"
                                 alt="poster-image">
                            <div class="duration text-small italic-1 ">
                                32:02
                            </div>

                        </div>
                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E03
                    </span>
            <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="video-box">
                        <div class="poster">

                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/4.jpg"
                                 alt="poster-image">
                            <div class="duration text-small italic-1 ">
                                6:22
                            </div>

                        </div>
                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E04
                    </span>
            <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="video-box">
                        <div class="poster">
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/3.jpg"
                                 alt="poster-image">
                            <div class="duration text-small italic-1 ">
                                32:02
                            </div>

                        </div>
                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E03
                    </span>
            <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="video-box">
                        <div class="poster">

                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/highlights/4.jpg"
                                 alt="poster-image">
                            <div class="duration text-small italic-1 ">
                                6:22
                            </div>

                        </div>
                        <div class="title-bar">
                    <span class="text-small italic-1 ">
                      S01 / E04
                    </span>
            <span>
                      Bradawa 2018 Skip the horizon
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



  <div class="video-slider ">
    <div class="tt-single-slider video state-pause">

      <div class="swiper-container no-slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <video controls loop>
              <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4" type=video/mp4>
            </video>
          </div>

          <div class="swiper-slide">
            <div class="yt-player" id="abcd" data-video-id="9a9A1rqoZvI"></div>
          </div>

          <div class="swiper-slide">
            <video controls loop>
              <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4" type=video/mp4>
            </video>
          </div>

        </div>

        <div class="swiper-pagination fraction-pagination"></div>
        <div class="swiper-button-prev slider-arrow-left"></div>
        <div class="swiper-button-next slider-arrow-right"></div>
      </div>

    </div>
  </div>


</div>