---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---

<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 hidden-md-down">
    <div class="main-heading">
        <h3>FIND A NEARBY CENTER</h3>
        <p>Find your perfect Toyota vehicle. Navigate through <br/>our recent Toyota cars collection</p>
    </div>
</div>


<div class="tt-branch-locator-sec no-footer">
    <div class="bh-sl-container">
        <!--<div id="page-header">
            <h1 class="bh-sl-title">Using Chipotle as an Example</h1>
            <p>I used locations around Minneapolis and the southwest suburbs. So, for example, Edina, Plymouth, Eden
                Prarie, etc. would be good for testing the functionality.
                You can use just the city as the address - ex: Edina, MN.</p>
        </div>-->

        <div class="bh-sl-form-container">
            <form id="bh-sl-user-location" method="post" action="#">
                <div class="filter-mobile-header-controls">
                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/back.svg" alt="back icon">BACK
                </div>
                <div class="tt-branch-locator-form-sec">
                    <div class="tt-form-input tt-form-input-inline tt-form-search-box-init">
                        <div class="form-input">
                            <input type="text" id="bh-sl-address" class="bh-sl-address" name="bh-sl-address"
                                   placeholder="Search by city or postcode"/>
                            <input class="bh-sl-address-btn" type="submit" id="bh-sl-address-btn" name="bh-sl-address-btn"/>
                            <input class="bh-sl-address-close-btn" type="submit" id="bh-sl-address-close-btn" name="bh-sl-address-close-btn"/>
                        </div>
                      <!--  <div class="form-input hidden-md-down">
                            <a href="javascript:void(0)" class="bh-sl-location"></a>
                        </div>-->
                        <div class="form-input hidden-lg-up">
                            <a href="javascript:void(0)" class="bh-sl-location mobile-filter"></a>
                        </div>
                    </div>
                    <div class="tt-form-input tt-form-input-inline tt-filters" >

                        <div class="filter-modal-close hidden-lg-up">CLOSE</div>

                        <h3 class="hidden-lg-up map-filter-heading">Filter centers by</h3>
                        <ul id="category-filters-container1" class="bh-sl-filters">
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Showroom
                                </label>
                            </li>
                            <li>

                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    Service Center
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    Parts Center
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                <label class="form-check-label" for="defaultCheck4">
                                    Body and Paint
                                </label>
                            </li>

                        </ul>
                        <div class="apply-filter-wrapper">
                            <button type="submit" class="hidden-lg-up btn btn-primary">Apply Filters</button>
                        </div>

                    </div>


                    <!--<button id="bh-sl-submit" type="submit">Submit</button>-->
                </div>

            </form>
        </div>

        <div id="bh-sl-map-container" class="bh-sl-map-container local">
            <div class="accordion-mobile-header-controls">
                <img src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/back.svg" alt="back icon">BACK
            </div>
            <div id="bh-sl-map" class="bh-sl-map"></div>
            <div class="bh-sl-loc-list">
                <ul class="list tt-maps-accordion"></ul>
            </div>
        </div>
    </div>
</div>