---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---


<div class="container">

  <div class="component forms tt-forms no-footer">

    <form class="validator" action="book-a-test-drive-submitted.html">

      <div class="grey-bg">

        <div class="controls-box">
          <div class="custom-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="progress">
            <div class="progress-bar form-progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
        </div>

        <div class="swiper-container ">
          <div class="swiper-wrapper">

            <div class="swiper-slide car-select-slide">
              <div class="tt-form-input">

                <div class="form-group has-feedback is-required">

                  <label for="car-select">1. Which car model are you enquiring about? </label>
                  <select class="form-control select-combobox has-placeholder" placeholder="Select Model"
                          id="car-select" required>
                    <option value=""></option>
                    <option value="Avalon">Avalon</option>
                    <option value="Yasir Sport">Yasir Sport</option>
                    <option value="Yasir Sedan">Yasir Sedan</option>
                    <option value="Corolla">Corolla</option>
                    <option value="Camry">Camry</option>
                  </select>

                  <div class="car-selected-block">
                    <div class="image">
                      <img src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png" alt="">
                    </div>
                    <div class="content">
                      <h4>Avalon</h4>
                      <div class="pricing">
                        <span class="label"> Starting </span>
                        <span class="price-tag notranslate">85,900 SR</span>
                      </div>
                      <p>
                        Please note test drive is only available for the highest grade of each model
                      </p>
                    </div>
                  </div>

                  {{> _form-enter-bar }}

                </div>

              </div>
            </div>

            <div class="swiper-slide">
              <div class="tt-form-input">

                <div class="form-group has-feedback is-required">
                  <label for="fname" class="control-label">2. What is your first name?</label>
                  <input type="text" class="form-control" id="fname"
                         pattern="([a-zA-Z0-9]+[ ]*)+" maxlength="30"
                         data-required-error="Please enter first name"
                         data-pattern-error="Please enter valid first name (no numbers allowed)"
                         required autocomplete="off" tabindex="-1">

                  {{> _form-enter-bar }}

                </div>

              </div>
            </div>

            <div class="swiper-slide">
              <div class="tt-form-input">

                <div class="form-group has-feedback is-required">

                  <label for="surname" class="control-label">3. What is your surname?</label>
                  <input type="text" class="form-control" id="surname"
                         pattern="([a-zA-Z0-9]+[ ]*)+" maxlength="30"
                         data-required-error="Please enter surname name"
                         data-pattern-error="Please enter valid first name (no numbers allowed)"
                         required autocomplete="off" tabindex="-1">

                  {{> _form-enter-bar }}

                </div>

              </div>
            </div>

            <div class="swiper-slide">
              <div class="tt-form-input">

                <div class="form-group has-feedback is-required">

                  <label for="email" class="control-label">4. What is your email address?</label>
                  <input type="email" class="form-control" id="email"
                         data-error="This seems incorrect. Please try again"
                         data-required-error="Please fill this in"
                         required autocomplete="off" tabindex="-1">

                  {{> _form-enter-bar }}

                </div>

              </div>
            </div>

            <div class="swiper-slide">
              <div class="tt-form-input">

                <div class="form-group has-feedback is-required">

                  <label for="phone" class="control-label">5. What is your phone number?</label>
                  <input type="text" class="form-control" id="phone"
                         pattern="[0-9]*" maxlength="10"
                         data-error="Please enter phone number"
                         data-required-error="Please enter phone number"
                         required autocomplete="off" tabindex="-1">

                  {{> _form-enter-bar }}

                </div>

              </div>
            </div>

            <div class="swiper-slide">
              <div class="tt-form-input">

                <div class="form-group multi-text">
                  <label class="control-label">
                    6. How can we help you?
                    <small>(optional)</small>
                  </label>
                  <div class="mini-label">
                    Subject
                  </div>
                  <input type="text" class="form-control" tabindex="-1" autocomplete="off">
                </div>

                <div class="form-group multi-text">
                  <div class="mini-label">
                    Enter message (maximum 300 characters)
                  </div>
                  <input type="text" class="form-control" maxlength="300" tabindex="-1" autocomplete="off">
                </div>

                {{> _form-enter-bar }}

              </div>
            </div>


            <div class="swiper-slide">
              <div class="tt-form-input">
                <input type="text" class="radio-controls" tabindex="-1">

                <div class="form-group has-feedback is-required radio-group">

                  <label class="control-label">
                    7. A call center member will be calling you. What is your preferred time?
                  </label>

                  <div class="form-check">

                    <div class="radio-strip">

                      <label class="radio">
                        <input class="form-check-input" type="radio" name="radio-a3" value="option1" required tabindex="-1"
                               data-error="Please complete this step" >
                        <span>9am - 1pm</span>
                      </label>

                      <label class="radio">
                        <input class="form-check-input" type="radio" name="radio-a3" value="option2" required tabindex="-1">
                        <span>1pm - 5pm</span>
                      </label>

                      <label class="radio">
                        <input class="form-check-input" type="radio" name="radio-a3" value="option3" required tabindex="-1">
                        <span>5pm - 7pm</span>
                      </label>

                    </div>

                  </div>

                  {{> _form-enter-bar-radio }}

                </div>

              </div>
            </div>


            <div class="swiper-slide last-slide">
              <div class="tt-form-input">

                <label>8. Would you like to?</label>

                <div class="form-group">

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Signup to receive newsletter messages
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      Receive SMS messages with your latest offers
                    </label>
                  </div>

                  {{> _form-enter-last-field }}

                </div>
              </div>
            </div>



          </div>
        </div>

        {{> _form-submit-box }}

      </div>
    </form>
  </div>

  <div class="splash-screen">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-0">
      <div class="main-heading">
        <h3>get in touch</h3>
        <p>Fill out a quick contact form and a customer service agent will get back to you within 48 hours</p>
        <h5 class="centered-title">Please tell us why you are contacting us?</h5>

        <div class="tt-form-input">
          <input type="text" class="radio-controls" tabindex="-1">

          <div class="form-group radio-group">
            <div class="form-check">
              <div class="radio-strip mobile-full">
                <label class="radio">
                  <input class="form-check-input" data-error="Please complete this step" type="radio" name="radio-main"
                         value="option1" tabindex="-1" required>
                  <span>Sales Enquiry</span>
                  <div class="text text-small-3">
                    For queries about vehicle and accessories purchases
                  </div>
                </label>

                <label class="radio">
                  <input class="form-check-input" type="radio" name="radio-main" value="option2" tabindex="-1" required>
                  <span>general enquiry</span>
                  <div class="text text-small-3">
                    For queries about anything else (e.g. lorem, ipsum, dolor)
                  </div>
                </label>

                <label class="radio">
                  <input class="form-check-input" type="radio" name="radio-main" value="option3" tabindex="-1" required>
                  <span>complaint</span>
                  <div class="text text-small-3">
                    For complaints, we hope to resolve any issues you may have
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>



