---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---

<div class="banner-full">
    <div class="banner-height">
        <img
             data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/get-in-touch.jpg"
             data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/retina/get-in-touch-img@2x.jpg" >
    </div>
</div>
<div class="container">

    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="main-heading">
            <h3>GET IN TOUCH</h3>
            <p>Our customer service team is here to answer your queries</p>
        </div>
    </div>


</div>

<div class="container">

    <div class="component offer-listing tt-offer-listing-box">
        <div class="row  row-eq-height">
            <!--<div class="col col-lg-4 col-md-6">
                <div class="tt-offer-item tt-get">
                    <div class="content">
                        <h4><img src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/fb-messenger.svg"
                                 alt="Facebook"/> Facebook messenger</h4>
                        <p>Message our customer service team on Facebook who will be able to provide answers within a
                            few hours.</p>

                        <div class="btn-content">
                            <a href="vehicle-offer-details.html" class="btn btn-link">
                                Visit our Facebook page
                            </a>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col">
                <div class="tt-offer-item tt-get">
                    <div class="content">

                        <h4><img src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/fb-messenger.svg" alt="image">
                            <a href="#.">800 24444 400</a></h4>
                        <p>Call our toll free number and speak directly with our customer service team and will get back
                            to you the soonest.</p>

                        <div class="btn-content time">
                            SUNDAY - THURSDAY <br/>
                            09:00 - 19:00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="tt-offer-item tt-get">
                    <div class="content">
                        <h4><img src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/check-form.svg"
                                 alt="check"/> contact form</h4>
                        <p>Fill out a quick contact form and a customer service agent will get back to you within 48
                            hours.</p>
                        <div class="btn-content">
                            <a href="vehicle-offer-details.html" class="btn btn-link">
                                open form
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{{> story-get-in-touch }}
<div class="tt-quicklinks-promos text-center">
    <div class="container">
        <div class="row row-no-padding">
            <div class="col">
                <div class="component promo tt-simple-promo">
                    <div class="promo-img">
                        <img alt="image"
                             src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/branch-locator.svg">
                    </div>
                    <h3 class="dashed centered">
                        <a href="#."> Find the nearest Center</a>
                    </h3>

                    <p>
                        Search for a nearby center and find the best Avalon deals
                    </p>
                    <a href="" class="btn btn-link">FIND A CENTER</a>
                </div>
            </div>
            <div class="col">
                <div class="component promo tt-simple-promo">
                    <div class="promo-img">
                        <img alt="image"
                             src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/book-icon.svg">
                    </div>
                    <h3 class="dashed centered">
                        <a href="#."> Book a test drive</a>
                    </h3>

                    <p>
                        Be the first to test drive your <!--favourite Toyota cars in a nearby center-->
                    </p>
                    <a href="" class="btn btn-link">BOOK NOW</a>
                </div>
            </div>

        </div>
    </div>
</div>