---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---


<div class="container">

    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="main-heading">

            <h3>Terms & conditions</h3>
            <p></p>


        </div>
    </div>

    <div class="tt-gray-box no-top-margin side-padd-1">

        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-0 ">
            <div class="terms-conditions-content">
                <h4>website policy</h4>
                <p>By entering, browsing & using TOYOTA.com.sa, you agree to the policies, terms & conditions of the website and are subject to the rules and laws that pertain to it. </p>
                <div class="terms-conditions-separator"></div>
            </div>

            <div class="terms-conditions-content">
                <h4>Content</h4>
                <p>The website contains information and data about available TOYOTA products in addition to brochures, flyers and current promotions.. The offers presented on this website are available only in the countries indicated for each promotion. Content presented on this website is solely for advertising purposes and is not for your commercial reuse as a source of information through a third party legally authorized for maintenance and sales. The content of this website has been designed to be fit for its purpose as possible. We reserve the right to update the information regarding the designs, equipment, specifications and availability without any prior notice. </p>
                <div class="terms-conditions-separator"></div>
            </div>


            <div class="terms-conditions-content">
                <h4>Product Prices</h4>
                <p>Prices presented on this website are for informational purposes only and might be changed without any prior notice. The prices displayed do not constitute a sales offer. These prices may be different from the prices offered by other TOYOTA dealers. Purchase of a TOYOTA product is subject to the terms and conditions of a documented and a separate contract.</p>
                <div class="terms-conditions-separator"></div>
            </div>



            <div class="terms-conditions-content">
                <h4>Cookies Policy</h4>
                <p>This website uses cookies. This technology allows TOYOTA.com.sa to store the path that you followed to the website. As well, the cookies record your activities on the website in order to assist the website administration to improve its features. Cookies are not used to record or store any data about individual users. Therefore, the website does not retain any information about you. Please note that you can configure your browser to block cookies or to notify you whenever a cookie is sent.</p>
                <div class="terms-conditions-separator"></div>
            </div>


            <div class="terms-conditions-content">
                <h4>Personal Information and User Input</h4>
                <p>Any personal information you provide to the website will be used only for the purposes of improving the service provided by TOYOTA.com.sa. The TOYOTA.com.sa team endeavor to guarantee the security, passage and retention of all personal information provided depending on the nature of the information. We will not use this information to send any unwanted messages or data. As TOYOTA.com.sa is not responsible for monitoring or reviewing any input placed on the website by end users, TOYOTA.com.sa does not accept any responsibility and will not be held accountable for any consequences stemming from end user input.</p>
                <div class="terms-conditions-separator"></div>
            </div>


            <div class="terms-conditions-content">
                <h4>Copyright Notice</h4>
                <p>The entire content of this website is protected by the international copyright law. The information, text, images and pictures presented on the website is intended for personal use only. You are not authorized to edit, activate, license, copy, reuse and publish, partially or entirely, the information on the website without exclusive written permission from TOYOTA.com.sa.</p>
                <div class="terms-conditions-separator"></div>
            </div>

            <div class="terms-conditions-content">
                <h4>Trademarks</h4>
                <p>All trademarks, logos and icons on TOYOTA.com.sa are entirely and exclusively owned by their respective owners. The user is not authorized to use, download, print or publish this intellectual property in any way without written permission from its owner.</p>
                <div class="terms-conditions-separator"></div>
            </div>

            <div class="terms-conditions-content">
                <h4>Hyperlinks (External)</h4>
                <p>TOYOTA.com.sa might contain textual or image hyperlinks that redirect you to other, independent websites. We are not responsible or accountable for the accuracy of the information provided on these or any other websites.  TOYOTA.com.sa users redirected to external independent websites do so at their own risk. </p>
                <div class="terms-conditions-separator"></div>
            </div>

            <div class="terms-conditions-content">
                <h4>Accuracy Assurance</h4>
                <p>The TOYOTA.com.sa team endeavors reasonably to ensure that information and data provided on TOYOTA.com.sa is accurate. However, it is possible that the website contains mistakes that can be attributed to human error. TOYOTA.com.sa is not responsible for the accuracy of data and information on the website. The data and information presented on the website is provided for you without any explicit or implicit guarantee of accuracy.

                    The information, images and pictures presented on TOYOTA.com.sa are provided as guidelines only to assist the customer in decision-making. They are to provide the customer with a preliminary perception about the product and its specification, which might not be entirely applicable to a specific category of products. The content is not considered part of the purchase contract, a sales offer, an alternative for independent consultation, or a guarantee of the completeness and accuracy of product information or the product suitability for any specific purposes.

                    You are urged to refer to the sales representative to ensure suitability of the product for your objectives needs and purposes so that an informed decision can be made. TOYOTA.com.sa disclaims any responsibility or accountability for using the information provided on the website. TOYOTA.com.sa has the right to edit product information and specifications anytime without any prior notice. For more guidance and details regarding the specifications of a certain product category, please contact the sales department in automobile showrooms.</p>
                <div class="terms-conditions-separator"></div>
            </div>

            <div class="terms-conditions-content">
                <h4>Limitation of Liability</h4>
                <p>TOYOTA.com.sa shall not be accountable or responsible for any direct or indirect damages, circumstantial or consequential, caused by the usage of the website. This includes, but is not limited to, any damages or loss caused by computer viruses that might affect your hardware or your computer through using information from TOYOTA.com.sa.</p>
                <div class="terms-conditions-separator"></div>
            </div>

            <div class="terms-conditions-content">
                <h4>Policy Edits and Updates</h4>
                <p>TOYOTA.com.sa reserves all rights to make any changes to the website policy in accordance with business needs and objectives. We urge you to visit and read this page from time to time.</p>
                <div class="terms-conditions-separator"></div>
            </div>


        </div>




    </div>


</div>



