---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---

<div class="container">

    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="main-heading">

            <h1>The Toyota way</h1>
            <p></p>
        </div>
    </div>

</div>

<div class="banner-full">
    <div class="banner-height">
        <img src=""
             data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/external/964C3D99-C427-4C35-AA11-9A17469A1218.png"
             data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/external/B811F30E-A592-4C57-8337-676D199B81AC.png"
        />
    </div>
</div>


<div class="container">

    <div class="about-us-boxes-handler clearfix">
        <div class="about-us-boxes-listing row">

            <div class="about-us-box-container col ">
                <div class="about-us-boxes">
                    <div class="dashed"></div>

                    <h3>Let's Go Places</h3>
                    <p>We’re in the business of making great cars and trucks. But we also work every day to apply and
                        share our know-how in ways that benefit people, the community, and our planet in order to build
                        a better tomorrow.</p>

                </div>

            </div>

            <div class="about-us-box-container col ">
                <div class="about-us-boxes">
                    <div class="dashed"></div>

                    <h3>The way we work</h3>
                    <p>How do we create some of the most advanced, reliable and safe vehicles? We’re always looking for
                        ways to improve our operations, always challenging ourselves to innovate, and always improving
                        each day in everything we do.</p>

                </div>

            </div>
            <div class="about-us-box-container col ">
                <div class="about-us-boxes">
                    <div class="dashed"></div>

                    <h3>Our Purpose</h3>
                    <p>We create vehicles by listening and responding to you. Why? Because it's our belief that our cars
                        should do more than help you go places on the road, they should also help you go places in
                        life.</p>

                </div>

            </div>
        </div>


    </div>

</div>

<div class="container about-us-small-container">
    <div class="main-heading">
        <div class="dashed centered ">
            <h4 class="side-padd-20">What drives us forward</h4>
        </div>
        <p class="p-small-1">
            60 years in your service! Through the unique relationship with Toyota Motor Company, Abdul Latif Jameel has
            grown continuously over the years to become one of the leading entities in the automotive sector in the
            Kingdom.
        </p>
    </div>

    <div class="component gallery tt-gallery-block tt-short-gallery-block has-video desktop-only">
        <div class="row main-row">
            <div class="col">
                <div data-href="javscript:void(0)">
                    <div class="gallery-item gallery-item-image">
                        <div class="image"
                             style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/gallery/f1.jpg')">
                            <video controls>
                                <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                                        type=video/mp4>
                            </video>
                        </div>
                        <div class="content">
                            <div class="tt-aligner">
                                <div class="tt-aligner-item">
                                    <h3 class="dashed white centered video-icon"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="component gallery tt-gallery-block tt-short-gallery-block has-video mobile-only">
    <div class="row main-row">
        <div class="col">
            <a href="javscript:void(0)">
                <div class="gallery-item gallery-item-image">
                    <div class="image"
                         style="background-image:url('../needreplace/media/Project/ToyotaTheme/Common/images/gallery/f1.jpg')">
                        <video controls>
                            <source src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/spotlight-3-clip.mp4"
                                    type=video/mp4>
                        </video>
                    </div>
                    <div class="content">
                        <div class="tt-aligner">
                            <div class="tt-aligner-item">
                                <h3 class="dashed white centered video-icon"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="about-us-section-3">

    <div class="section-3-background-image">

        <div class="sub-heading-container">
            <div class="container">
                <div class="heading">
                    <div class="dashed"></div>
                    <h3>The Sky is out Limit</h3>
                </div>
                <!--<h4>ALJ & Toyota</h4>
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        In 1945 Abdul Latif Jameel started his business with a philosophy and vision to put his
                        customers, or ‘Guests’, first. This underlying principle, coupled with Abdul Latif Jameel’s
                        visionary approach, formed the foundations of the company that still bears his name today.
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        Before, there were many paved roads, Abdul Latif Jameel saw the benefits of introducing 4x4
                        vehicles. His first order of four “BJ” model 4x4 vehicles was the start of a long-standing
                        relationship with Toyota Motor Corporation.
                    </div>
                </div>-->
                <div class="two-columns">
                    In 1945 Abdul Latif Jameel started his business with a philosophy and vision to put his
                    customers, or ‘Guests’, first. This underlying principle, coupled with Abdul Latif Jameel’s
                    visionary approach, formed the foundations of the company that still bears his name today.
                    Before, there were many paved roads, Abdul Latif Jameel saw the benefits of introducing 4x4
                    vehicles. His first order of four “BJ” model 4x4 vehicles was the start of a long-standing
                    relationship with Toyota Motor Corporation.
                </div>
            </div>

        </div>

    </div>

    <img src=""
         data-desktop-src="../needreplace/media/Project/ToyotaTheme/Common/images/external/about-us-section-3.png"
         data-mobile-src="../needreplace/media/Project/ToyotaTheme/Common/images/external/about-us-section-3@2x.png"
    />

</div>

<div class="articles">

    <div class="heading">
        <h3>Related Articles</h3>
    </div>
    <div class="container">
        <div class="component offer-listing tt-offer-listing-box">
            <div class="row  row-eq-height">
                <div class="col col-lg-4 col-md-6">
                    <div class="tt-offer-item">
                        <div class="image-box">
                            <div class="tags-box">

                                <span class="tag">CASHBACK</span>
                            </div>
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/offers/vehicle-offer-img7.jpg"
                                 alt="">
                        </div>
                        <div class="content">
                            <div class="date text-small">
                                September 6, 2017
                            </div>
                            <h4>The big challenge between diesel &amp; gasoline</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore aliqua. </p>

                            <div class="btn-content">
                                <a href="vehicle-offer-details.html" class="btn btn-link">
                                    Read MORE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="tt-offer-item">
                        <div class="image-box">
                            <div class="tags-box">

                                <span class="tag">Events</span>
                            </div>
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/offers/vehicle-offer-img8.jpg"
                                 alt="">
                        </div>
                        <div class="content">
                            <div class="date text-small">
                                December 21, 2017
                            </div>
                            <h4>Toyota: the sky is the limit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore aliqua. </p>

                            <div class="btn-content">
                                <a href="vehicle-offer-details.html" class="btn btn-link">
                                    Read MORE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6">
                    <div class="tt-offer-item">
                        <div class="image-box">
                            <div class="tags-box">

                                <span class="tag">Innovation</span>
                            </div>
                            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/offers/vehicle-offer-img9.jpg"
                                 alt="">
                        </div>
                        <div class="content">
                            <div class="date text-small">
                                August 5, 2017
                            </div>
                            <h4>Go your own way with Toyota Yaris sport</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore aliqua. </p>

                            <div class="btn-content">
                                <a href="vehicle-offer-details.html" class="btn btn-link">
                                    Read MORE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="btn-align text-center">
                <a href="javascript:void(0)" class="btn btn-primary">
                    GO TO CONTENT HUB
                </a>
            </div>
        </div>
    </div>


</div>
