---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---

<div class="tt-offer-details-sec">
    <div class="container">


        <div class="tt-promo-listing-box tt-offer-details-box">


            <a href="vehicle-available-offers.html" class="btn has-icon btn-black">
                <img class="btn-icon"
                     src="../needreplace/media/Project/ToyotaTheme/Common/images/arrows/back-to-offers-icon.svg"
                     alt="image">
                <h2> Back to Avalon offers</h2>
            </a>
            <div class="component promo-feature tt-promo-feature-item tt-promo-large">
                <div class="image-box">

                    <img src="../needreplace/media/Project/ToyotaTheme/Common/images/spotlights/available-offer-img.jpg"
                         alt="">
                </div>
                <div class="content">
                    <div class="tags-box">
                        <span class="tag">FINANCE</span>
                    </div>
                    <div class="content-left">
                        <h1>Ramadan New Offer</h1>
                        <div class="offer-sec no-mid-border">

                            <p> Offer expires on 20/04/2018</p>
                            <ul>

                                <li>
                                    <div class="number">
                                        0<sup class="notranslate">%</sup>
                                    </div>
                                    <div class="label">
                                        APR
                                    </div>
                                </li>

                                <li>
                                    <div class="number">
                                        48
                                    </div>
                                    <div class="label">
                                        Months
                                    </div>
                                </li>

                            </ul>


                        </div>
                    </div>

                    <div class="content-right">
                        <ul class="specs-list mb-0">
                            <li><p>Valid until 28/02/2018</p></li>
                            <li><p>Valid on 2.7 Litre models only</p></li>
                            <li><p>The amount of the discount is 5,480 SAR equivalent to the
                                cost of filling gasoline octane 91, which is 4,000 liters</p>
                            </li>
                            <li><p>Interested in a Toyota but not quite ready to buy or lease?
                                Click here to become an Offer Insider and receive alerts when
                                new offers are available on your vehicle of choice.</p>
                            </li>
                        </ul>
                        <div class="last-bar">
                            <a href="javascript:void(0)" class="btn btn-primary">
                                Register Interest
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h4 class="no-border text-center text-uppercase">Offer Available on</h4>
        </div>
        <div class="tt-available-offers-box">

            {{> _vehicles-available-offers-list }}

        </div>


        <div class="tt-gray-box">
            <h4>Terms and Conditions</h4>

            <ul class="specs-list specs-two-col-list variant-1 mb-0">
                <li>This Campaign is valid for Avalon and applicable only for vehicles imported &
                    sold by Abdul Latif Jameel.
                </li>
                <li>Customer will only be charged on any extra job done upon his request &
                    approval.
                </li>
                <li>Applicable only for periodic maintenance ( same PM items that are mentioned in
                    the owner’s manual) up to 50,000 KM & does not include general job repairs.
                </li>
                <li>Customer will not be charger on any of the periodic maintenance (Labor & Oil)</li>
                <li>Periodic Maintenance included in this campaign is 7 Maintenance “to be done
                    during the 3 years of the date mentioned".
                </li>


                <li>The duration of 3 years validity for the package starts from the date of purchase
                    (vehicle registration - Estemara).
                </li>
                <li>This campaign will be void if the vehicle becomes a total loss.</li>
            </ul>
        </div>


        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="sub-heading no-border text-center text-uppercase">
                <h4>Avalon OFFER FAQs</h4>
            </div>
        </div>


        <div class="component accordion tt-accordion tt-accordion-faqs tt-accordian-adjust-1">
            <div class="accordion-inner">
                <h4>What is free service PKG?</h4>

                <div class="tt-content" style="display: none;">
                    <p>It’s a Free periodic maintenance service for 3 years or up to 50,000KM service, whichever comes
                        earlier (3 years validity will be from the date of purchase - car registration)</p>
                </div>
            </div>
            <div class="accordion-inner">
                <h4> What if the customer wishes any additional services? </h4>

                <div class="tt-content" style="display: none;">
                    <p>It’s a Free periodic maintenance service for 3 years or up to 50,000KM service, whichever comes
                        earlier (3 years validity will be from the date of purchase - car registration)</p>
                </div>
            </div>
            <div class="accordion-inner">
                <h4>Is there any other service item included in free service package pm service?</h4>

                <div class="tt-content" style="display: none;">
                    <p>It’s a Free periodic maintenance service for 3 years or up to 50,000KM service, whichever comes
                        earlier (3 years validity will be from the date of purchase - car registration)</p>
                </div>
            </div>
            <div class="accordion-inner">
                <h4>What if the customer wishes to use synthetic oil for the service?</h4>

                <div class="tt-content" style="display: none;">
                    <p>It’s a Free periodic maintenance service for 3 years or up to 50,000KM service, whichever comes
                        earlier (3 years validity will be from the date of purchase - car registration)</p>
                </div>
            </div>
            <div class="accordion-inner">
                <h4>Which vehicle is valid for this campaign?</h4>

                <div class="tt-content" style="display: none;">
                    <p>It’s a Free periodic maintenance service for 3 years or up to 50,000KM service, whichever comes
                        earlier (3 years validity will be from the date of purchase - car registration)</p>
                </div>
            </div>
            <div class="accordion-inner">
                <h4>How many free services are covered for Customer?</h4>

                <div class="tt-content" style="display: none;">
                    <p>It’s a Free periodic maintenance service for 3 years or up to 50,000KM service, whichever comes
                        earlier (3 years validity will be from the date of purchase - car registration)</p>
                </div>
            </div>

        </div>
        <div class="component offer-listing tt-offer-listing-box">

            <div class="sub-heading no-border text-uppercase m-3">
                <h4>More Toyota Offers</h4>
            </div>


            <div class="row row-eq-height main-row tt-show-2-on-portrait">
                <div class="col-md-6 col-lg-4"> {{> _vehicle-offer-item1 }}</div>
                <div class="col-md-6 col-lg-4"> {{> _vehicle-offer-item2 }}</div>
                <div class="col-md-6 col-lg-4"> {{> _vehicle-offer-item3 }}</div>
            </div>

        </div>
    </div>
</div>
{{> vehicle-overview-quicklinks-promos }}


