---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---

<!--<div class="hero-offers no-offers">-->
<div class="hero-offers">

    <div class="img-cnt">
        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/banner-1.jpg" alt="image">
    </div>

    <div class="container">

        <div class="white-bg"></div>

        <div class="offer-card">
            <div class="tt-aligner">
                <div class="tt-aligner-item">


                    <h1 class="dashed">
                        THE AVALON 2017
                    </h1>

                    <p>
                        Enjoy ultimate comfort with Avalon’s available premium heated front seats.
                    </p>
                    <h2 class="paragraph">
                        Enjoy ultimate comfort with Avalon’s available premium heated front seats.
                    </h2>

                    <div class="offer-sec">
                        <h4>Avalon Ramadan offer</h4>


                        <div class="price-label">
                            Now
                        </div>
                        <div class="price-tag-big notranslate">
                            85,050 SR
                            <strong>115,150 SR</strong>
                        </div>


                        <!--<ul>

                          <li>
                            <div class="number">
                              0<sup class="notranslate">%</sup>
                            </div>
                            <div class="label">
                              APR
                            </div>
                          </li>

                          <li>
                            <div class="number">
                              72
                            </div>
                            <div class="label">
                              Months
                            </div>
                          </li>

                        </ul>-->

                        <a href="javascript:void(0)" class="btn btn-link">
                            View Available Offers
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

{{> vehicle-overview-quicklinks-promos }}


