---
title_en: Toyota
title_ar: Toyota

showInNav: true
navSortOrder: 2
---

<!--<div class="hero-offers no-offers">-->
<div class="hero-offers">

    <div class="img-cnt">
        <img src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/banner-1.jpg" alt="image">
    </div>

    <div class="container">

        <div class="white-bg"></div>

        <div class="offer-card">
            <div class="tt-aligner">
                <div class="tt-aligner-item">
                    <h1 class="dashed">
                        THE AVALON 2017
                    </h1>

                    <p>
                        Enjoy ultimate comfort with Avalon’s available premium heated front seats.
                    </p>

                    <div class="offer-sec">
                        <h4>Finance Offer</h4>

                        <ul>

                            <li class="tt-offers">
                                <div class="number">
                                    0<sup class="notranslate">&#37;</sup>
                                </div>
                                <div class="label">
                                    APR
                                </div>
                            </li>

                            <li class="tt-offers">
                                <div class="number">
                                    72
                                </div>
                                <div class="label">
                                    Months
                                </div>
                            </li>

                        </ul>

                        <a href="vehicle-offer-details.html" class="btn btn-link">
                            View Available Offers
                        </a>
                    </div>


                </div>

            </div>

        </div>


    </div>

</div>

{{> vehicle-overview-inpage-nav }}

<div class="tt-loader"> </div>
<div class="car-colours-sec">

    <div class="container">

        <div class="car-info">
            <h2>Business, in style</h2>


            <div class="price-label">
                Starting
            </div>
            <div class="price-tag-big notranslate">
                85,050 SR
            </div>

          <span class="offer-available">
            Offer Available
          </span>

            <div class="paragraphs-small">
                <p>
                    *The mentioned price is inclusive of 5% VAT, but does not include the registration fees and car
                    insurance
                    premium.
                </p>
            </div>

        </div>


        <div class="cars-colored">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/1.png" class="active"
                 alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/2.jpg" alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/3.jpg" alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/1.png" alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/2.jpg" alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/3.jpg" alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/1.png" alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/2.jpg" alt="image">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/car-colors/3.jpg" alt="image">
        </div>

        <div class="row">
            <div class="col-md-6 text-left">
                <div class="color-selector">

                    <h4>Available in</h4>
                    <div class="color-info">

                        <div class="info active">
                            <div class="color-name">
                                BLIZZARD PEARL
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 2
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 3
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 4
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 5
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 6
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 7
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 8
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                        <div class="info">
                            <div class="color-name">
                                BLIZZARD PEARL 9
                            </div>
                            <div class="availability">
                                Available for premium models only
                            </div>
                        </div>

                    </div>
                    <ul class="color-list">
                        <li class="active">
                            <div style="color:#f3f2f2" class="tt-color "><span></span></div></li>
                        <li>
                            <div style="color:#494848" class="tt-color"><span></span></div></li>
                        <li>
                            <div style="color:#985b69" class="tt-color"><span></span></div></li>
                        <li>
                          <div style="color:#f3f2f2" class="tt-color "><span></span></div></li>
                        <li>
                          <div style="color:#494848" class="tt-color"><span></span></div></li>
                        <li>
                          <div style="color:#985b69" class="tt-color"><span></span></div></li>
                        <li>
                          <div style="color:#f3f2f2" class="tt-color "><span></span></div></li>
                        <li>
                          <div style="color:#494848" class="tt-color"><span></span></div></li>
                        <li>
                          <div style="color:#985b69" class="tt-color"><span></span></div></li>
                    </ul>


                </div>
            </div>
            <div class="col-md-6 text-right">

                <div class="buttons">
                    <a href="" class="btn has-icon btn-black">
                        <img class="btn-icon" alt="image"
                             src="../needreplace/media/Project/ToyotaTheme/Common/images/icons/download-icon.svg">
                        Download Brochure
                    </a>

                    <a href="" class="btn btn-primary">
                        {{#is language "en"}}
                            book a test drive

                        {{else}}
                            حجز اختبار قيادة

                        {{/is}}



                    </a>
                </div>

            </div>
        </div>

    </div>

</div>

<div class="model-specs-sec">

    <div class="container">

        <h4 class="widget-heading">Avalon Available Models</h4>

        <div class="link-list-carousel">

            <div class="tt-links-box no-border tt-split-four swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="tt-car-item">
                            <div class="image">
                               <!-- <img alt="" class="front"
                                     src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02.png">
                                <img alt="" class="hover"
                                     src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png">-->
                            </div>
                            <div class="title notranslate">
                                <h3>
                                    Touring
                                </h3>
                            </div>

                            <div class="pricing">
                                <span class="label">Now</span>
                                <div class="price-tag notranslate">
                                    <h4>
                                        90,999 SR
                                        <small>119,280 SR</small>
                                    </h4>
                                </div>
                            </div>


                        </div>
                    </li>

                  <li class="swiper-slide">
                    <div class="tt-car-item">
                      <div class="image">
                        <!--<img alt="" class="front"
                             src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png">
                        <img alt="" class="hover"
                             src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png">-->
                      </div>

                      <div class="title notranslate">
                        <h3>
                          XLE TOURING
                        </h3>
                      </div>

                      <div class="pricing">
                        <span class="label">Starting</span>
                        <div class="price-tag notranslate">
                          <h4>
                            129,885 SR
                          </h4>
                        </div>
                      </div>

                    </div>
                  </li>



                    <li class="swiper-slide">
                        <div class="tt-car-item">
                            <div class="image">
                              <!--  <img alt="" class="front"
                                     src="../needreplace/media/Project/ToyotaTheme/Common/images/items/01.png">-->
                                <img alt="" class="hover"
                                     src="../needreplace/media/Project/ToyotaTheme/Common/images/items/02_hov.png">
                            </div>

                            <div class="title notranslate">
                                <h3>
                                    XLE TOURING
                                </h3>
                            </div>

                            <div class="pricing">
                                <span class="label">Starting</span>
                                <div class="price-tag notranslate">
                                    <h4>
                                        129,885 SR
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="tt-car-item">
                            <div class="image">
                                <img alt="" src="../needreplace/media/Project/ToyotaTheme/Common/images/items/03.png">
                            </div>
                            <div class="title notranslate">
                                <h3>
                                    LIMITED Premium
                                </h3>
                            </div>

                            <div class="pricing">
                                <span class="label">Starting</span>
                                <div class="price-tag notranslate">
                                    <h4>
                                        155,505 SR
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="tt-car-item">
                            <div class="image">
                                <img alt="" src="../needreplace/media/Project/ToyotaTheme/Common/images/items/04.png">
                            </div>

                            <div class="title notranslate">
                                <h3>
                                    LIMITED Navigation
                                </h3>
                            </div>

                            <div class="pricing">
                                <span class="label">Starting</span>
                                <div class="price-tag notranslate">
                                    <h4>
                                        151,830 SR
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="tt-car-item">
                            <div class="image">
                                <img alt="" src="../needreplace/media/Project/ToyotaTheme/Common/images/items/04.png">
                            </div>

                            <div class="title notranslate">
                                <h3>
                                    LIMITED Navigation 2
                                </h3>
                            </div>

                            <div class="pricing">
                                <div class="label">Starting</div>
                                <div class="price-tag notranslate">
                                    <h4>
                                        151,830 SR
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </li>

                    <!--
                                  <li class="swiper-slide">
                                    <div class="tt-car-item">
                                      <div class="image">
                                        <img alt="" src="../needreplace/media/Project/ToyotaTheme/Common/images/items/04.png">
                                      </div>

                                      <div class="title notranslate">
                                        <h3>
                                          LIMITED Navigation 3
                                        </h3>
                                      </div>

                                      <div class="pricing">
                                        <span class="label">Starting</span>
                                        <div class="price-tag notranslate">
                                          <h4>
                                            151,830 SR
                                        </h4>
                                     </div>
                                      </div>

                                    </div>
                                  </li>-->
                </ul>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>




        <div class="spec-tabs spec-margin-adjust">
            <h4 class="spec-heading">Touring specs highlights</h4>
            <div class="tab ">

                <ul class="specs-list specs-three-col-list">
                    <li>Power Side View Mirrors with Turning Signal</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Power Adjustable Driver & Front Passenger seats</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>
                    <li>Rear Parking Sensors (Made in Malaysia)</li>
                    <li>Vehicle Stability Control (VSC)</li>
                    <li>Brake Assist (BA)</li>
                </ul>

            </div>

            <div class="tab">

                <ul class="specs-list specs-three-col-list">
                    <li>List 2</li>
                    <li>Anti-Lock Braking System (ABS)</li>

                    <li>Rear Parking Sensors (Made in Malaysia)</li>
                    <li>Vehicle Stability Control (VSC)</li>
                    <li>Brake Assist (BA)</li>
                </ul>

            </div>

            <div class="tab">

                <ul class="specs-list specs-three-col-list">
                    <li>List 3</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Power Adjustable Driver & Front Passenger seats</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>

                </ul>

            </div>

            <div class="tab">

                <ul class="specs-list specs-three-col-list">
                    <li>List 4</li>
                    <li>Anti-Lock Braking System (ABS)</li>

                    <li>Vehicle Stability Control (VSC)</li>
                    <li>Brake Assist (BA)</li>
                </ul>

            </div>

            <div class="tab">

                <ul class="specs-list specs-three-col-list">
                    <li>List 5</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Power Adjustable Driver & Front Passenger seats</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>
                    <li>Rear Parking Sensors (Made in Malaysia)</li>
                    <li>Vehicle Stability Control (VSC)</li>
                    <li>Brake Assist (BA)</li>
                </ul>

            </div>

            <div class="tab">

                <ul class="specs-list specs-three-col-list">
                    <li>List 6</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Anti-Lock Braking System (ABS)</li>
                    <li>Power Adjustable Driver & Front Passenger seats</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>
                    <li>Electronic Brake-force Distrubtion (EBD)</li>
                    <li>Rear Parking Sensors (Made in Malaysia)</li>
                    <li>Vehicle Stability Control (VSC)</li>
                    <li>Brake Assist (BA)</li>
                </ul>

            </div>


        </div>

        <div class="row">
            <div class="text-center btn-bar">
                <a href="javascript:void(0)" class="btn btn-primary">
                    FULL SPECS
                </a>
            </div>
        </div>


    </div>

</div>

<div class="model-gallery-sec">
    {{> vehicle-overview-video-promo }}
</div>
<div class="spec-highlights">

    <div class="container">

        <div class="img-placeholder">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/spec-highlight.png"
                 alt="spec-image">
        </div>

        <div class="spec-details ">
            <div class="tt-aligner">
                <div class="tt-aligner-item">

                    <h3 class="dashed">Interior</h3>
                    <!--<p>
                        Avalon's standard leather-trimmed seats, soft-touch materials and French stitching add up to an
                        environment
                        that feels as if it was made just for you. Subtle design touches make sure that the interior of
                        Avalon
                        stands out.
                    </p>-->
                    <div class="btn-content">
                        <a class="btn btn-link" href="javascript:void(0)">Learn more</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="spec-highlights inverse">

    <div class="container">

        <div class="img-placeholder">
            <img src="../needreplace/media/Project/ToyotaTheme/Common/images/banner/spec-highlight.png"
                 alt="spec-image">
        </div>

        <div class="spec-details ">
            <div class="tt-aligner">
                <div class="tt-aligner-item">

                    <h3 class="dashed">Interior</h3>
                    <p>
                        Avalon's standard leather-trimmed seats, soft-touch materials and French stitching add up to an
                        environment
                        that feels as if it was made just for you. Subtle design touches make sure that the interior of
                        Avalon
                        stands out.
                    </p>
                    <div class="btn-content">
                        <a class="btn btn-link" href="javascript:void(0)">Learn more</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="text-center btn-bar">
            <a href="javascript:void(0)" class="btn btn-primary">
                View All Features
            </a>
        </div>
    </div>
</div>

{{> vehicle-overview-short-gallery-block }}

{{> vehicle-overview-quicklinks-promos }}

